@import url("common.css");

h2 {
  font-size:   21px;
  line-height: 28px;
}

input, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
  padding: 4px 0px;
}

input, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], 
select, 
textarea,
.input-append *, .input-append .add-on,
.input-prepend *, .input-prepend .add-on,
.uneditable-input,
body, 
h3, 
h3 *,
h4,
li,
label, 
button, 
.inframe, 
.text,
.memoleft,
.mes_text,
.mes_text_report,
.mes_text_monospace,
.btn {
  font-size:   12px;
  line-height: 1.40em;
}

#tab .paragraph td {
  font-size:   11px;
}

.mes_date,
#tab textarea {
  font-size:   10px;
  line-height: 1.10em;
}

.tips,
.note {
  font-size:   11px;
  line-height: 1.00em;
}

.board td a,
.board td,
.board th {
  font-size:   12px;
  text-align:  1.20em;
  line-height: 1.50em;
}

.mesname {
  line-height: 1.80em;
}
