@import "twitter/bootstrap/bootstrap";
@import "twitter/bootstrap/responsive";

// Set the correct sprite paths
@iconSpritePath: asset-path('twitter/bootstrap/glyphicons-halflings.png');
@iconWhiteSpritePath: asset-path('twitter/bootstrap/glyphicons-halflings-white.png');

@bodyBackground: #555;
@textColor:      #ccc;
@linkColor:      #333;
@linkColorHover: #8bf;
@baseFontFamily: sans-serif;
@baseFontSize:   16px;
@baseLineHeight: 21px;
@navbarHeight:   21px;

body {
  color: @textColor;
  font-size: @baseFontSize;
  line-height: @baseLineHeight;
}

h2,
h2 a {
  color: @textColor;
}
h2 {
  border-bottom: 1px solid @textColor;
}

code a,
.btn a {
  color: @gray;
}

.toppage, .choice, .vindex, .turnnavi, .pagenavi
{
  a, .MAKER .text a, .ADMIN .text a {
    color: #afa;
  }
  .text a {
    color: rgb(51, 51, 51);
  }
}
