$gray:             #888;
$body-background:  #555;
$text-color:       #ccc;
$link-color:       #333;
$link-color-hover: #8bf;

@import "base";


label.label {
  display: block;
}

.toppage, .choice, .vindex, .turnnavi, .pagenavi
{
  a, .MAKER .text a, .ADMIN .text a {
    color: #afa;
  }
  .text a {
    color: $link-color;
  }
}
