@charset "Shift_JIS";
@import url("size.css");

/* GROBAL --------------------*/
h1 {
  margin: 2px 0 0 0;
}

h2 {
  margin: 2px 0 0 0;
}

h3 {
  margin: 2px 0 0 0;
}


/* BODY FRAME --------------------*/
.vindex {
  margin: 3px 0;
  font-size: smaller;
}


/* フィルタを左に配置した時の外枠 ----------*/
.outframe_navimode {
  width:100%;
  background-position: right;
}

.chrlist {
  margin: 0 0 0 7px;
}

.drag,
.ajax {
  width: 460px;
}

.outframe .turnnavi  ,
.outframe .pagenavi  ,
.outframe .row_all   { padding: 0 16px;}
.outframe .mes_maker ,
.outframe .mes_admin ,
.outframe .info      ,
.outframe .infosp    ,
.outframe .infowolf  ,
.outframe .caution   ,
.outframe .action_bm { padding: 4px 16px;}

.outframe_navimode .turnnavi,
.outframe_navimode .pagenavi,
.outframe_navimode .row_all   { padding: 0 0 0 11px;}
.outframe_navimode .mes_maker ,
.outframe_navimode .mes_admin ,
.outframe_navimode .info      ,
.outframe_navimode .infosp    ,
.outframe_navimode .infowolf  ,
.outframe_navimode .caution   ,
.outframe_navimode .action_bm { padding: 4px 11px 4px 11px;}



/* 内枠 ----------*/
.contentframe .toppage{
  width: 460px;
}

.contentframe {
  width: 460px;
  margin: 0 0 0 auto;
}

/* フィルタを左に配置した時の内枠 ----------*/
.contentframe_navileft {
  width: 460px;
  margin: 0 0 0 auto;
}


/* SAY FILTER --------------------*/
/* フィルタ（下配置時）----------*/
.sayfilter {
  width: 130px;
}

/* フィルタ（左配置時）----------*/
.sayfilterleft {
  width: 122px;
}

/* フィルタの中身 ----------*/
.insayfilter table{
  width: 100%;
}

.insayfilter .users {
}
.insayfilter .types {
  width: 4ex;
}

.sayfilter_heading {
  font-size: 90%;
  line-height: 130%;
  margin:  0px;
}

.sayfilter_button_mestype ,
.sayfilter_button_lump{
  white-space:nowrap;
  line-height: 100%;
}
.sayfilter_caption_enable ,
.sayfilter_caption_disenable ,
.sayfilter_incontent ,
.sayfilter_button_mestype ,
.sayfilter_button_lump{
  font-size: 90%;
  margin: 0;
  padding: 0;
  line-height: 150%;
}

.sayfilter_incontent div {
  font-size: 90%;
}


/* BLOCK --------------------*/

/* 段落全般 ----------*/
.paragraph {
  margin: 0px;
}

/* 日付リンク ----------*/

/* ページリンク ----------*/
/* 非ログイン時注意表示 ----------*/

/* 全表示リンク ----------*/

/* 表示行数・表示順序変更フォーム ----------*/

/* 発言の日付 ----------*/
.mes_date {
  font-size: 70%;
}

/* FORM PLAYER --------------------*/

/* 発言入力欄の外枠 ----------*/
.formpl_frame {
  margin: 0px;
}

/* 発言入力欄の項目 ----------*/
.formpl_content textarea{
  width: 100%;
}


/* アクション入力欄 ----------*/
.formpl_action {
  padding: 0;
}

/* 発言者名 ----------*/

/* 村建て人発言 ----------*/
/* 管理人発言 ----------*/

/* アクション ------------*/ 
.action_nom, 
.action {
  margin: 0 0 4px 96px;
  padding: 4px 12px 0 11px; 
}


/* 発言の文章部分 ----------*/

/* メモ ----------*/
.memo {
  width: 460px;
}
.memoleft {
  width: 140px;
}
/* 発言関係共通 ------*/

.say {
}
.say .img{
  padding: 0 0 4px 0;
}
.say .field {
}
.say .msg{
  margin: 0 3px 4px 3px;
  padding: 0px 4px;
}

/* 発言入力欄（共通） ---*/ 
.formpl_common {
  padding: 0px;
}
.formpl_commit ,
.formpl_undef  ,
.formpl_vil      ,
.formpl_seer     ,
.formpl_medium   ,
.formpl_guard    ,
.formpl_fm       ,
.formpl_stigma   ,
.formpl_sympathy ,
.formpl_love     ,
.formpl_wolf     ,
.formpl_possess  ,
.formpl_fanatic  ,
.formpl_cpossess ,
.formpl_cwolf    ,
.formpl_intwolf  ,
.formpl_pixi     ,
.formpl_trickster,
.formpl_hamster  ,
.formpl_werebat  ,
.formpl_gm       ,
.WIN_NONE    ,
.WIN_HUMAN   ,
.WIN_DISH    ,
.WIN_LONEWOLF,
.WIN_PIXI    ,
.WIN_GURU    ,
.WIN_HATER   ,
.WIN_LOVER   ,
.WIN_WOLF    ,
.WIN_EVIL    {
  padding: 0px;
}
/* 誤爆防止チェック欄 ----------*/
.form_vmake textarea{
  width: 314px;
}

/* 段組（ラベル） ----------*/
.multicolumn_label {
  display: block;
  float: left;
}

