@charset "Shift_JIS";
@import url("480.css");

/* GROBAL --------------------*/

.handler{
  opacity: 0.1 !important;
}

h2 {
  margin:  6px 0 0 0;
}

h3 {
  margin:  6px 0 0 0;
}
/* BODY FRAME --------------------*/
.vindex {
  margin: 6px 8px;
  width: 96%;
}
/* フィルタの中身 ----------*/
.insayfilter table{
  border-width: 0;
}
.insayfilter .types div
{
  font-size: 100%;
}

.sayfilter_heading {
  padding: 0 0 0 8px;
}
.insayfilter
{
  overflow: visible;
  margin:  0 0 6px 0;
  padding: 0;
}

/* BLOCK --------------------*/

/* 段落全般 ----------*/
.paragraph {
  padding: 0 0 0 8px;
}

/* 全表示リンク ----------*/
.row_all {
  padding: 0px 16px;
  font-weight: bold;
}

/* 表示行数・表示順序変更フォーム ----------*/
/* 発言の日付 ----------*/

/* FORM PLAYER --------------------*/

/* 発言入力欄の外枠 ----------*/
.formpl_frame {
  margin: 0px 0px 12px 0px;
}

/* 発言入力欄の項目 ----------*/
.formpl_content {
  padding: 4px;
}

/* アクション入力欄 ----------*/
.formpl_action {
  padding: 4px;
}

/* 発言者名 ----------*/
.mes_maker ,
.mes_admin ,
.info      ,
.infosp    ,
.infowolf  ,
.caution   ,
.mes_think .action,
.action_bm {
  margin: 0px 8px 16px 8px;
  padding: 4px;
}

/* アクション ------------*/ 
.action_nom, 
.action {
  margin: 0 0 6px 107px;
  padding: 4px 8px 4px 8px; 
}

.inframe .message_filter {
  width: 460px;
  display:block;
}
/* メモ ----------*/
.memo {
  margin: 0px 12px 16px 12px;
  padding: 1px;
}
/* 発言関係共通 ------*/
.img{
  vertical-align: top;
  padding: 0 0 6px 0;
}
.img img{
          transform-origin: 150% 0%;
       -o-transform-origin: 150% 0%;
     -moz-transform-origin: 150% 0%;
  -webkit-transform-origin: 150% 0%;
          transform: rotate( 10deg ) ;
       -o-transform: rotate( 10deg ) ;
     -moz-transform: rotate( 10deg ) ;
  -webkit-transform: rotate( 10deg ) ;
}

.say .chrblank,
.say .chrblank {
  width: 80px;
}
.say .msg{
  margin: 0 4px 6px 0px;
  padding: 0 4px 0 0;
}

/* 発言入力欄（共通） ---*/ 
.formpl_common {
  margin: 0px 8px 16px 8px;
  padding: 4px;
  border-style: solid;
  border-width: 1px;
}
.formpl_commit ,
.formpl_undef  ,
.formpl_vil      ,
.formpl_seer     ,
.formpl_medium   ,
.formpl_guard    ,
.formpl_fm       ,
.formpl_stigma   ,
.formpl_sympathy ,
.formpl_love     ,
.formpl_wolf     ,
.formpl_possess  ,
.formpl_fanatic  ,
.formpl_cpossess ,
.formpl_cwolf    ,
.formpl_intwolf  ,
.formpl_pixi     ,
.formpl_trickster,
.formpl_hamster  ,
.formpl_werebat  ,
.formpl_gm       ,
.WIN_NONE    ,
.WIN_HUMAN   ,
.WIN_DISH    ,
.WIN_LONEWOLF,
.WIN_PIXI    ,
.WIN_GURU    ,
.WIN_HATER   ,
.WIN_LOVER   ,
.WIN_WOLF    ,
.WIN_EVIL    {
  padding: 4px 0px;
  border-style: double none;
  border-width: 3px 0;
}
