@charset "Shift_JIS";
@import url("480.css");

/* GROBAL --------------------*/

h2 {
  margin: 2px 0 0 0;
}

h3 {
  margin: 2px 0 0 0;
}
/* BODY FRAME --------------------*/
.vindex {
  margin: 3px 0;
  width: 100%;
}
/* フィルタの中身 ----------*/

.sayfilter_heading {
  padding: 0px;
}
.insayfilter
{
}

/* BLOCK --------------------*/

/* 段落全般 ----------*/
.paragraph {
  padding: 0px;
}

/* 全表示リンク ----------*/
.row_all {
}

/* 表示行数・表示順序変更フォーム ----------*/
/* 発言の日付 ----------*/

/* FORM PLAYER --------------------*/

/* 発言入力欄の外枠 ----------*/
.formpl_frame {
  margin: 0px;
}

/* 発言入力欄の項目 ----------*/
.formpl_content {
}

/* アクション入力欄 ----------*/
.formpl_action {
  padding: 0;
}

/* 発言者名 ----------*/
.mes_maker ,
.mes_admin ,
.info      ,
.infosp    ,
.infowolf  ,
.caution   ,
.mes_think .action,
.action_bm {
  margin: 0 0 4px 0;
  padding: 4px 16px;
}

/* アクション ------------*/ 
.action_nom, 
.action {
  margin: 0 0 4px 96px;
  padding: 4px 12px 0 11px; 
}


/* メモ ----------*/
.memo {
  margin: 0px;
  padding: 4px 0; 
}
/* 発言関係共通 ------*/
.say .img{
  padding: 0 0 4px 0;
  width:110px
}
.say .field{
  width:350px;
}
.say .msg{
  margin: 0 3px 4px 3px;
  padding: 0px 4px;
}

/* 発言入力欄（共通） ---*/ 
.formpl_common {
}
