@charset "Shift_JIS";
@import url("800legacy.css");

.handler{
  opacity: 0.3 !important;
}

.img img{
          transform-origin: 150% 0%;
       -o-transform-origin: 150% 0%;
     -moz-transform-origin: 150% 0%;
  -webkit-transform-origin: 150% 0%;
          transform: rotate( 10deg ) ;
       -o-transform: rotate( 10deg ) ;
     -moz-transform: rotate( 10deg ) ;
  -webkit-transform: rotate( 10deg ) ;
}
