
.rbx
.DS_Store
.bundle
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
Gemfile.lock
config/database.yml
config/mongoid.yml
config/omni_auth.yml
config/rsync.yml
config/initializers/secret.rb
config/initializers/resque.rb
public/images/15girls
public/images/TMMI
public/images/banner
public/images/bloody
public/images/bunmei
public/images/juna
public/images/name
public/images/orange
public/images/portrate
public/images/portrate_april
public/images/portrate_sf++
public/images/sow
test/
vendor/cache

