
.rbx
.DS_Store
.bundle
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
Gemfile.lock
config/database.yml
config/mongoid.yml
config/omni_auth.yml
config/rsync.yml
config/initializers/secret.rb
config/initializers/resque.rb
public_old/
test/
vendor/cache

