
.DS_Store
.bundle
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
Gemfile.lock
config/database.yml
config/environments/development.rb
config/environments/production.rb
config/initializers/secret_token.rb
config/initializers/session_store.rb
config/initializers/typus.rb
config/mongoid.yml
config/omni_auth.yml
config/rsync.yml
config/typus/
public/
public_old/
test/

