.wa {
  .drag,
  .outframe {
    background-image: url("../images/bg/karakusa.png");
    background-repeat: repeat;
    background-position: center;
  }

  &.large-msg,
  &.center-msg {
  }

  &.mini-msg,
  &.game-msg,
  &.right-msg {
  }

  #sayfilter .paragraph {
    margin: 0 6px; 
  }
  &.w770 {
    #sayfilter{ padding-right: 1px; }
    .contentframe {
      background-image: url("../images/bg/film-wa770.png");
      background-repeat: repeat-y;
      background-position: right;
    }
  }

  &.w580 {
    #sayfilter{ padding-right: 1px; }
    .contentframe {
      background-image: url("../images/bg/film-wa580.png");
      background-repeat: repeat-y;
      background-position: right;
    }
  }

  &.w458 {
    #sayfilter{ padding-right: 3px; }
    .contentframe {
      background-image: url("../images/bg/film-wa460.png");
      background-repeat: repeat-y;
      background-position: center;
    }
  }

  @include border-theme-white(#444, #765);
  @include vivid(#002, #720, #ccf);
  @include main-theme(#000, #cb8, #720);

  .insayfilter {
    .paragraph {
      border-width: 0 ;
      background: #eed;
    }
    div, th, td {
      color: #333;
    }
  }

  .sayfilter_heading {
    font-weight: bold;
    background: #a96;
    border-top: 2px solid #985;
    border-bottom: 2px solid #863;
    color: #444;
  }
  .sayfilter_heading.bottom {
    height: 10px
  }

  .sayfilter_content .head,
  .sayfilter_caption_enable {
    background: #ddb;
  }
  .sayfilter_caption_disenable {
    background: #cc7;
    color: #444;
  }
  .sayfilter_heading,
  .sayfilter_content .head,
  .sayfilter_caption_enable,
  .insayfilter .paragraph {
            border-radius : 0;
         -o-border-radius : 0;
       -moz-border-radius : 0;
    -webkit-border-radius : 0;
  }

  .sayfilter_content_enable    ,
  .sayfilter_content_disenable ,
  .sayfilter_content           ,
  #lumpfilter ,
  #lumpfilter input {
    font-weight: normal;
    width: 100%;
  }

  .sayfilter_content_enable    ,
  .sayfilter_content_disenable ,
  .sayfilter_button_lump {
    border-bottom: 1px dotted #863;
  }
  .sayfilter_content_disenable {
    background: #888;
    color: #444;
  }

  .caution,
  .MAKER.guide,
  .mes_maker,
  .ADMIN.guide,
  .mes_admin,
  .INFONOM,
  .INFOSP,
  .INFOWOLF,
  .info ,
  .infosp ,
  .infowolf {
    border-width: 3px 0; 
    border-style: double none;
  }

  .MAKER.guide,
  .mes_maker,
  .ADMIN.guide,
  .mes_admin {
    border-color: #720;
  }

  .INFONOM,
  .INFOSP,
  .INFOWOLF,
  .info ,
  .infosp ,
  .infowolf {
    border-color: #444;
  }

  .caution {
    border-color: #ccc;
  }
  .action_nom,
  .action {
    border-style: solid none solid solid ;
    border-color: #222;
  }

  .memo {
    border-color: #664;
    color: #000;
  }
  .memoleft {
    border-color: #000;
  }
  .memoright {
    border-color: #000;
  }
  .mesname {
    @include line-bottom();
    font-weight: bold;
    background: transparent;
    padding-top: 4px;
  }

  .msg{
    border-right: solid 4px #333;
    border-bottom: solid 2px #222;
  }

  .MSAY,
  TABLE.SAY,
  .QUEUE,
  .mes_nom { @include msg-color(#000, #cb8);}

  .formpl_gm ,
  .formpl_gm  textarea{
    border-color: #660;
    color: #ffa;
    background-color: #100;
  }

  .say img {
    border-bottom: 3px solid rgba( 0, 0, 0, 0.5);
    border-top:    2px solid rgba( 0, 0, 0, 0.5);
  }

  .toolbox,
  body {
    color: #ccf;
    background-image: url("../images/bg/nagatanienn.png");
    background-repeat: repeat;
    background-position: center;
  }

  a {
    text-decoration: none;
  }

  h2 {
    background: #720;
  }

  h3 {
    background: #224;
  }  
}
