.footnote,
.toppage .paragraph,
.accordion dt,
.accordion dd {
  background-color: rgba(0,0,0,0.5);
}

.board {
  margin: 0 0 0 5%;
  width: 90%;
}

hr.invisible_hr {
	display: none;
}
.formpl_gm,
.img img {
  margin-bottom: 4px;
}

.accordion dt,
.accordion dd,
.table th,
.table td,
.potofs th,
.potofs td,
div.mark,
.form_vmake,
.toolbox,
.drag_head,
.paragraph,
.footnote,
.config_item,
.MAKER, .mes_admin,
.ADMIN, .mes_maker,
.mesname,
.action,
li,
p
 {
  text-align: left;
}

.drag_head .badge,
.board .link,
.commitbutton,
.token-input,
.pagenavi,
.exevmake,
.chrblank,
.choice,
body {
  text-align: center;
}

input[type="number"],
#checklist,
#buttons,
.css_changer,
.config_item,
.mes_date,
.rolebox,
.guide,
.theme,
.calc,
h6,
h6,
address,
address * {
  text-align: right;
}


.INFONOM,
.INFOSP,
.INFOWOLF,
.MAKER.guide,
.ADMIN.guide,
.info,
.infosp,
.infowolf,
.mes_maker,
.mes_admin,
.caution,
.action_bm,
.turnnavi,
.row_all,
.secret {
  padding-left: 11px;
  margin-bottom: 6px;
}


.mes_maker,
.MAKER .action,
.MAKER.guide {
  color: #ccf !important;
}
.MAKER .action .text b,
.MAKER h3,
.MAKER h3 b {
  color: #844 !important;
}

.mes_admin,
.ADMIN .action,
.ADMIN.guide {
  color: #c99;
}
.ADMIN .action .text b,
.ADMIN h3,
.ADMIN h3 b {
  color: #666 !important;
}

.mes_maker,
.MAKER .msg,
.MAKER .action,
.MAKER.guide ,
.mes_admin,
.ADMIN .msg,
.ADMIN .action,
.ADMIN.guide {
  background: #000 !important;
}

.mes_text ,
.mes_text_report ,
.mes_text_monospace ,
.memoleft ,
.memoright {
  word-wrap:  break-word !important;
  word-break: break-all  !important;
  overflow-y: hidden;
  overflow-x: auto;
}

.text em,
.mes_text em,
.mes_text_report em,
.mes_text_monospace em{
  opacity: 0.7;
  font-style:  normal;
}

.text,
.mono,
.mes_text,
.mes_text_report,
.mes_text_monospace {
  padding: 0px;
  vertical-align: top;
}

.head:first-line,
.mes_text_report:first-line{
  font-weight: bold !important;
}

.mono,
.mes_text_monospace {
  layout-grid: both loose 0 0;
  font-family: monospace !important;
}


form.login input {
    width: 12ex
}

form.login label {
    display: inline
}

.form_vmake label {
    display: inline
}

.form_vmake input[name^=cnt], .form_vmake input.input-tiny {
    width: 2.5ex;
    height: 2.0em
}

.form_vmake input[type=password] {
    width: 10em
}

fieldset.action_type select, .formpl_content textarea, .formpl_actiontext {
    width: 96%
}

.formpl_content label {
    display: inline
}

.formpl_action legend {
    margin-bottom: 0
}


#clipboard, #cliptext, .action_type, .action_type legend {
    font-size: smaller;
    line-height: 1em
}


