@charset "Shift_JIS";
@import url("size/480baloon.css");
@import url("theme/cinema.css");

/*
	.contentframe,
	.contentframe_navileft {
 */
#topviewer,
.drag,
.outframe,
.outframe_navimode {
  background-image: url("../images/bg/background460.png");
  background-repeat: repeat-y;
  background-position: right;
}

/* IMAGE AND TEXT LAYOUT --------------------*/
