@charset "Shift_JIS";
@import url("size/480baloon.css");
@import url("theme/night.css");

.contentframe {
  background: #000;
  background-image: url("../images/bg/moon_half.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right top;
}

/* フィルタを左に配置した時の内枠 ----------*/
.contentframe_navileft {
  background: #000;
  background-image: url("../images/bg/moon_half.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right top;
}

/* IMAGE AND TEXT LAYOUT --------------------*/
.outframe_navimode .mes_maker .guide  ,
.outframe_navimode .mes_admin .guide  ,
.outframe_navimode .mes_maker .action ,
.outframe_navimode .mes_admin .action ,
.outframe_navimode .info      .mes_text,
.outframe_navimode .infosp    .mes_text,
.outframe_navimode .infowolf  .mes_text,
.outframe_navimode .caution   .mes_text,
.outframe_navimode .action_bm .mes_text{ width:336px; }

.action_nom,
.action {
  margin-left: 113px;
  border-width: 0 0 1px 4px;
  border-style: solid solid ;
}
