@import url("theme/wa.css");
@import url("size/800baloon.css");

.contentframe .drag,
.contentframe_navileft .drag {
  background-image: url("../images/bg/karakusa580.png");
  background-position: -1px 0;
}

.contentframe {
  background-image: url("../images/bg/karakusa580.png");
  background-position: center;
}

.contentframe_navileft {
  background-image: url("../images/bg/karakusa770.png");
  background-position: center;
}

.contentframe,
.contentframe_navileft {
  background-repeat: repeat-y;
  background-attachment: fixed;
  background-position: center;
}


.sayfilter_heading {
  margin: 6px 0 0 0;
  border-top    :  2px solid #863;
  border-bottom :  2px solid #863;
}

.insayfilter {
  padding: 0;
  margin: 0;
}
.insayfilter .paragraph {
  margin: 0;
  padding: 0 8px;  
}

#insayfilter,
#notepad,
#navi_page {
  border-bottom :  2px solid #863;
}
#insayfilter .paragraph,
#notepad     .paragraph,
#navi_page   .paragraph {
  border-width: 0 0 2ex 0;
}


.action_nom,
.action {
  padding: 4px 12px 4px 18px;
  margin-left:  109px;
}

