<FilesMatch "/">
  Deny from all
</FilesMatch>

<FilesMatch "\.html\.gz$">
  ForceType   text/html
  AddEncoding x-gzip .gz
</FilesMatch>

ErrorDocument 403 http://giji.check.jp/
Header append Access-Control-Allow-Origin: *


