@charset "Shift_JIS";
@import url("480.css");

/* GROBAL --------------------*/

h2 {
  margin: 2px 0 0 0;
}

h3 {
  margin: 2px 0 0 0;
}
/* BODY FRAME --------------------*/
.vindex {
  margin: 3px 0;
  width: 100%;
}
/* フィルタの中身 ----------*/

.sayfilter_heading {
  padding: 0px;
}

/* 段落全般 ----------*/
.paragraph {
  padding: 0px;
}


/* 発言入力欄の外枠 ----------*/
.formpl_frame {
  margin: 0px;
}

/* アクション入力欄 ----------*/
.formpl_action {
  padding: 0;
}

/* アクション ------------*/
.action_nom,
.action {
  margin: 0 0 4px 99px;
  padding: 4px 12px 0 9px;
}


/* メモ ----------*/
.memo {
  margin: 0px;
  padding: 4px 0;
}
/* 発言関係共通 ------*/
.say .img{
  padding: 0 0 4px 0;
}

.say .field{
  width:350px;
}
.say .msg{
  margin: 0 3px 4px 3px;
  padding: 0px 4px;
}
