@charset "Shift_JIS";
@import url("800legacy.css");

.handler{
  opacity: 0.3 !important;
}

.img img {
          transform-origin: 150% 0%;
       -o-transform-origin: 150% 0%;
     -moz-transform-origin: 150% 0%;
  -webkit-transform-origin: 150% 0%;
          transform: rotate( 0 ) ;
       -o-transform: rotate( 0 ) ;
     -moz-transform: rotate( 0 ) ;
  -webkit-transform: rotate( 0 ) ;
          transition: all 1s linear 0;
       -o-transition: all 1s linear 0;
      -ms-transition: all 1s linear 0;
     -moz-transition: all 1s linear 0;
  -webkit-transition: all 1s linear 0;
}

.img img:hover{
          transform: rotate( 10deg ) ;
       -o-transform: rotate( 10deg ) ;
     -moz-transform: rotate( 10deg ) ;
  -webkit-transform: rotate( 10deg ) ;
}
