@charset "Shift_JIS";
@import url("800.css");

/* BODY FRAME --------------------*/
.vindex {
  margin: 6px 0;
  width: 100%;
}
/* 村建て人発言 ----------*/
/* 管理人発言 ----------*/
/* メモ ----------*/
.memo {
  margin: 0px;
  padding: 4px 0;
}

.say .msg{
  margin: 0 4px 6px 12px;
  padding: 0 4px;
}
