@charset "Shift_JIS";
@import url("800.css");

/* GROBAL --------------------*/
h2,
h3 {
  margin: 8px 8px 16px 8px;
  padding: 2px 8px 2px 8px;
}

/* BODY FRAME --------------------*/
.vindex {
  margin: 6px 8px;
  width: 96%;
}
/* 村建て人発言 ----------*/
/* 管理人発言 ----------*/
.MAKER,
.ACTION,
.INFONOM,
.INFOSP,
.INFOWOLF,
.TSAY .action,
.mes_maker ,
.mes_admin ,
.info      ,
.infosp    ,
.infowolf  ,
.caution   ,
.mes_think .action,
.action_bm {
  margin: 0px 8px 16px 8px;
  padding: 4px;
}

/* アクション ------------*/ 
.action_nom, 
.action {
  padding: 4px 8px 4px 8px; 
}
/* メモ ----------*/
.memo {
  margin: 0px 12px 16px 12px;
  padding: 1px;
}
/* 発言関係共通 ------*/
.message_filter {
}
.message_filter table {
  width:562px;
}
.say .chrblank {
  width: 90px;
}
.say .img img {
  margin: 10px;
  padding: 0;
}
.say .img {
  vertical-align: top;
  margin: 0 0 6px 0;
  padding: 0;
}
.say .msg{
  margin: 4px 4px 0 0;
  padding: 0;
}
/* 発言入力欄（共通） ---*/ 
.formpl_common {
  width: 100%;
  margin: 0px 8px 16px 8px;
  padding: 4px;
  border-style: solid;
  border-width: 1px;
}

/* 段落全般 ----------*/
.paragraph {
  margin: 0px;
  padding: 0 6px 0 8px;
}

