=semantic_form_for chr_vote do |t|
  =f.input :comment

<form action="./sow.cgi" method="post" class="login">
<p>
  <input type="hidden" name="cmd" value="login">
  <input type="hidden" name="cmdfrom" value="chrlist">
  <input type="hidden" name="css" value="cinema800">
  <label>user id: <input type="text" size="10" name="uid" value=""></label>
  <label>password: <input type="password" size="10" name="pwd" value=""></label>
  <input type="submit" value="ログイン">
</p>
</form>
<hr class="invisible_hr">

<h2>キャラクター一覧 [人狼議事セット]</h2>
<table class="chrlist">
<tbody>
<td><img src="/WebRecord/images/portrate//c49.jpg" width="90" height="130" alt="ボリスの画像">
<div class="chrblank" style="width:90px;">石工<br>ボリス</div>
<td><img src="/WebRecord/images/portrate//c38.jpg" width="90" height="130" alt="コリーンの画像">
<div class="chrblank" style="width:90px;">歌い手<br>コリーン</div>
<td><img src="/WebRecord/images/portrate//c77.jpg" width="90" height="130" alt="キャロライナの画像">
<div class="chrblank" style="width:90px;">馬飼い<br>キャロライナ</div>
<td><img src="/WebRecord/images/portrate//c35.jpg" width="90" height="130" alt="ダンの画像">
<div class="chrblank" style="width:90px;">親方<br>ダン</div>
<td><img src="/WebRecord/images/portrate//c53.jpg" width="90" height="130" alt="ゼルダの画像">
<div class="chrblank" style="width:90px;">大地主<br>ゼルダ</div>
<td><img src="/WebRecord/images/portrate//c74.jpg" width="90" height="130" alt="フランシスカの画像">
<div class="chrblank" style="width:90px;">踊り手<br>フランシスカ</div>
<tr><td><img src="/WebRecord/images/portrate//c50.jpg" width="90" height="130" alt="ディーンの画像">
<div class="chrblank" style="width:90px;">会計士<br>ディーン</div>
<td><img src="/WebRecord/images/portrate//c36.jpg" width="90" height="130" alt="ミッシェルの画像">
<div class="chrblank" style="width:90px;">飾り職<br>ミッシェル</div>
<td><img src="/WebRecord/images/portrate//c26.jpg" width="90" height="130" alt="モニカの画像">
<div class="chrblank" style="width:90px;">楽器職人<br>モニカ</div>
<td><img src="/WebRecord/images/portrate//c55.jpg" width="90" height="130" alt="パピヨンの画像">
<div class="chrblank" style="width:90px;">寡婦<br>パピヨン</div>
<td><img src="/WebRecord/images/portrate//c29.jpg" width="90" height="130" alt="イアンの画像">
<div class="chrblank" style="width:90px;">記者<br>イアン</div>
<td><img src="/WebRecord/images/portrate//c12.jpg" width="90" height="130" alt="バーナバスの画像">
<div class="chrblank" style="width:90px;">御者<br>バーナバス</div>
<tr><td><img src="/WebRecord/images/portrate//c16.jpg" width="90" height="130" alt="マリアンヌの画像">
<div class="chrblank" style="width:90px;">食いしん坊<br>マリアンヌ</div>
<td><img src="/WebRecord/images/portrate//c34.jpg" width="90" height="130" alt="トニーの画像">
<div class="chrblank" style="width:90px;">靴磨き<br>トニー</div>
<td><img src="/WebRecord/images/portrate//c44.jpg" width="90" height="130" alt="ドナルドの画像">
<div class="chrblank" style="width:90px;">小悪党<br>ドナルド</div>
<td><img src="/WebRecord/images/portrate//c11.jpg" width="90" height="130" alt="カルヴィンの画像">
<div class="chrblank" style="width:90px;">小僧<br>カルヴィン</div>
<td><img src="/WebRecord/images/portrate//c10.jpg" width="90" height="130" alt="ゾーイの画像">
<div class="chrblank" style="width:90px;">小娘<br>ゾーイ</div>
<td><img src="/WebRecord/images/portrate//c70.jpg" width="90" height="130" alt="パティの画像">
<div class="chrblank" style="width:90px;">子守り<br>パティ</div>
<tr><td><img src="/WebRecord/images/portrate//c56.jpg" width="90" height="130" alt="ゴドウィンの画像">
<div class="chrblank" style="width:90px;">酒屋<br>ゴドウィン</div>
<td><img src="/WebRecord/images/portrate//c07.jpg" width="90" height="130" alt="ティモシーの画像">
<div class="chrblank" style="width:90px;">雑貨屋<br>ティモシー</div>
<td><img src="/WebRecord/images/portrate//c41.jpg" width="90" height="130" alt="ヤニクの画像">
<div class="chrblank" style="width:90px;">さすらい人<br>ヤニク</div>
<td><img src="/WebRecord/images/portrate//c58.jpg" width="90" height="130" alt="ブルーノの画像">
<div class="chrblank" style="width:90px;">司祭<br>ブルーノ</div>
<td><img src="/WebRecord/images/portrate//c17.jpg" width="90" height="130" alt="ユリシーズの画像">
<div class="chrblank" style="width:90px;">詩人<br>ユリシーズ</div>
<td><img src="/WebRecord/images/portrate//c39.jpg" width="90" height="130" alt="シビルの画像">
<div class="chrblank" style="width:90px;">仕立て屋<br>シビル</div>
<tr><td><img src="/WebRecord/images/portrate//c40.jpg" width="90" height="130" alt="ハワードの画像">
<div class="chrblank" style="width:90px;">執事<br>ハワード</div>
<td><img src="/WebRecord/images/portrate//c65.jpg" width="90" height="130" alt="ズリエルの画像">
<div class="chrblank" style="width:90px;">始末屋<br>ズリエル</div>
<td><img src="/WebRecord/images/portrate//c59.jpg" width="90" height="130" alt="ムパムピスの画像">
<div class="chrblank" style="width:90px;">修道士<br>ムパムピス</div>
<td><img src="/WebRecord/images/portrate//c57.jpg" width="90" height="130" alt="ツェツィーリヤの画像">
<div class="chrblank" style="width:90px;">修道女<br>ツェツィーリヤ</div>
<td><img src="/WebRecord/images/portrate//c04.jpg" width="90" height="130" alt="ノーリーンの画像">
<div class="chrblank" style="width:90px;">女中<br>ノーリーン</div>
<td><img src="/WebRecord/images/portrate//c46.jpg" width="90" height="130" alt="ゲイルの画像">
<div class="chrblank" style="width:90px;">助手<br>ゲイル</div>
<tr><td><img src="/WebRecord/images/portrate//c14.jpg" width="90" height="130" alt="レティーシャの画像">
<div class="chrblank" style="width:90px;">聖歌隊員<br>レティーシャ</div>
<td><img src="/WebRecord/images/portrate//c09.jpg" width="90" height="130" alt="ヒロシの画像">
<div class="chrblank" style="width:90px;">刺客<br>ヒロシ</div>
<td><img src="/WebRecord/images/portrate//c42.jpg" width="90" height="130" alt="ラルフの画像">
<div class="chrblank" style="width:90px;">掃除夫<br>ラルフ</div>
<td><img src="/WebRecord/images/portrate//c37.jpg" width="90" height="130" alt="セシルの画像">
<div class="chrblank" style="width:90px;">奏者<br>セシル</div>
<td><img src="/WebRecord/images/portrate//c75.jpg" width="90" height="130" alt="ビリーの画像">
<div class="chrblank" style="width:90px;">奏者<br>ビリー</div>
<td><img src="/WebRecord/images/portrate//c32.jpg" width="90" height="130" alt="オスカーの画像">
<div class="chrblank" style="width:90px;">双生児<br>オスカー</div>
<tr><td><img src="/WebRecord/images/portrate//c33.jpg" width="90" height="130" alt="ホリーの画像">
<div class="chrblank" style="width:90px;">双生児<br>ホリー</div>
<td><img src="/WebRecord/images/portrate//c02.jpg" width="90" height="130" alt="アルフレッドの画像">
<div class="chrblank" style="width:90px;">村長<br>アルフレッド</div>
<td><img src="/WebRecord/images/portrate//c66.jpg" width="90" height="130" alt="クリストファーの画像">
<div class="chrblank" style="width:90px;">紅茶屋<br>クリストファー</div>
<td><img src="/WebRecord/images/portrate//c24.jpg" width="90" height="130" alt="ナタリアの画像">
<div class="chrblank" style="width:90px;">長老<br>ナタリア</div>
<td><img src="/WebRecord/images/portrate//c79.jpg" width="90" height="130" alt="マーゴの画像">
<div class="chrblank" style="width:90px;">長老の孫<br>マーゴ</div>
<td><img src="/WebRecord/images/portrate//c61.jpg" width="90" height="130" alt="ヌマタロウの画像">
<div class="chrblank" style="width:90px;">釣り師<br>ヌマタロウ</div>
<tr><td><img src="/WebRecord/images/portrate//c23.jpg" width="90" height="130" alt="チャールズの画像">
<div class="chrblank" style="width:90px;">伝道師<br>チャールズ</div>
<td><img src="/WebRecord/images/portrate//c28.jpg" width="90" height="130" alt="ケイトの画像">
<div class="chrblank" style="width:90px;">読書家<br>ケイト</div>
<td><img src="/WebRecord/images/portrate//c68.jpg" width="90" height="130" alt="ヨアヒムの画像">
<div class="chrblank" style="width:90px;">賭場の主<br>ヨアヒム</div>
<td><img src="/WebRecord/images/portrate//c30.jpg" width="90" height="130" alt="フィリップの画像">
<div class="chrblank" style="width:90px;">鳥使い<br>フィリップ</div>
<td><img src="/WebRecord/images/portrate//c21.jpg" width="90" height="130" alt="ニールの画像">
<div class="chrblank" style="width:90px;">肉屋<br>ニール</div>
<td><img src="/WebRecord/images/portrate//c52.jpg" width="90" height="130" alt="ギリアンの画像">
<div class="chrblank" style="width:90px;">墓堀<br>ギリアン</div>
<tr><td><img src="/WebRecord/images/portrate//c51.jpg" width="90" height="130" alt="ヨーランダの画像">
<div class="chrblank" style="width:90px;">墓守<br>ヨーランダ</div>
<td><img src="/WebRecord/images/portrate//c01.jpg" width="90" height="130" alt="メアリーの画像">
<div class="chrblank" style="width:90px;">花売り<br>メアリー</div>
<td><img src="/WebRecord/images/portrate//c69.jpg" width="90" height="130" alt="ギネスの画像">
<div class="chrblank" style="width:90px;">美術家<br>ギネス</div>
<td><img src="/WebRecord/images/portrate//c63.jpg" width="90" height="130" alt="ピッパの画像">
<div class="chrblank" style="width:90px;">漂白工<br>ピッパ</div>
<td><img src="/WebRecord/images/portrate//c05.jpg" width="90" height="130" alt="キャサリンの画像">
<div class="chrblank" style="width:90px;">病人<br>キャサリン</div>
<td><img src="/WebRecord/images/portrate//c22.jpg" width="90" height="130" alt="ワットの画像">
<div class="chrblank" style="width:90px;">百姓<br>ワット</div>
<tr><td><img src="/WebRecord/images/portrate//c62.jpg" width="90" height="130" alt="ヴェラの画像">
<div class="chrblank" style="width:90px;">風来坊<br>ヴェラ</div>
<td><img src="/WebRecord/images/portrate//c13.jpg" width="90" height="130" alt="ロミオの画像">
<div class="chrblank" style="width:90px;">ベテラン医師<br>ロミオ</div>
<td><img src="/WebRecord/images/portrate//c18.jpg" width="90" height="130" alt="エマの画像">
<div class="chrblank" style="width:90px;">ベテラン看護婦<br>エマ</div>
<td><img src="/WebRecord/images/portrate//c27.jpg" width="90" height="130" alt="リンダの画像">
<div class="chrblank" style="width:90px;">牧人<br>リンダ</div>
<td><img src="/WebRecord/images/portrate//c08.jpg" width="90" height="130" alt="ベネットの画像">
<div class="chrblank" style="width:90px;">本屋<br>ベネット</div>
<td><img src="/WebRecord/images/portrate//c19.jpg" width="90" height="130" alt="タバサの画像">
<div class="chrblank" style="width:90px;">水商売<br>タバサ</div>
<tr><td><img src="/WebRecord/images/portrate//c71.jpg" width="90" height="130" alt="ノックスの画像">
<div class="chrblank" style="width:90px;">道案内<br>ノックス</div>
<td><img src="/WebRecord/images/portrate//c03.jpg" width="90" height="130" alt="スティーブンの画像">
<div class="chrblank" style="width:90px;">見習い医師<br>スティーブン</div>
<td><img src="/WebRecord/images/portrate//c43.jpg" width="90" height="130" alt="ガストンの画像">
<div class="chrblank" style="width:90px;">森番<br>ガストン</div>
<td><img src="/WebRecord/images/portrate//c15.jpg" width="90" height="130" alt="ウェーズリーの画像">
<div class="chrblank" style="width:90px;">郵便屋<br>ウェーズリー</div>
<td><img src="/WebRecord/images/portrate//c54.jpg" width="90" height="130" alt="ザックの画像">
<div class="chrblank" style="width:90px;">理髪師<br>ザック</div>
<td><img src="/WebRecord/images/portrate//c25.jpg" width="90" height="130" alt="ルーカスの画像">
<div class="chrblank" style="width:90px;">良家の息子<br>ルーカス</div>
<tr><td><img src="/WebRecord/images/portrate//c20.jpg" width="90" height="130" alt="グロリアの画像">
<div class="chrblank" style="width:90px;">良家の娘<br>グロリア</div>
<td><img src="/WebRecord/images/portrate//c72.jpg" width="90" height="130" alt="ヴェスパタインの画像">
<div class="chrblank" style="width:90px;">ランタン職人<br>ヴェスパタイン</div>
<td><img src="/WebRecord/images/portrate//c47.jpg" width="90" height="130" alt="ペラジーの画像">
<div class="chrblank" style="width:90px;">流浪者<br>ペラジー</div>
<td><img src="/WebRecord/images/portrate//c80.jpg" width="90" height="130" alt="テッドの画像">
<div class="chrblank" style="width:90px;">若者<br>テッド</div>
<td><img src="/WebRecord/images/portrate//c105.jpg" width="90" height="130" alt="シメオンの画像">
<div class="chrblank" style="width:90px;">教え子<br>シメオン</div>
<td><img src="/WebRecord/images/portrate//c96.jpg" width="90" height="130" alt="レオナルドの画像">
<div class="chrblank" style="width:90px;">学者<br>レオナルド</div>
<tr><td><img src="/WebRecord/images/portrate//c95.jpg" width="90" height="130" alt="モリスの画像">
<div class="chrblank" style="width:90px;">新聞配達<br>モリス</div>
<td><img src="/WebRecord/images/portrate//c97.jpg" width="90" height="130" alt="ジェフの画像">
<div class="chrblank" style="width:90px;">捜査官<br>ジェフ</div>
<td><img src="/WebRecord/images/portrate//c98.jpg" width="90" height="130" alt="オズワルドの画像">
<div class="chrblank" style="width:90px;">探偵<br>オズワルド</div>
<td><img src="/WebRecord/images/portrate//c100.jpg" width="90" height="130" alt="グレッグの画像">
<div class="chrblank" style="width:90px;">徒弟<br>グレッグ</div>
<td><img src="/WebRecord/images/portrate//c101.jpg" width="90" height="130" alt="クラリッサの画像">
<div class="chrblank" style="width:90px;">手伝い<br>クラリッサ</div>
<td><img src="/WebRecord/images/portrate//c104.jpg" width="90" height="130" alt="ヒューの画像">
<div class="chrblank" style="width:90px;">負傷兵<br>ヒュー</div>
<tr><td><img src="/WebRecord/images/portrate//c106.jpg" width="90" height="130" alt="ワンダの画像">
<div class="chrblank" style="width:90px;">魚屋<br>ワンダ</div>
<td><img src="/WebRecord/images/portrate//c108.jpg" width="90" height="130" alt="ブローリンの画像">
<div class="chrblank" style="width:90px;">採集人<br>ブローリン</div>
<td><img src="/WebRecord/images/portrate//c90.jpg" width="90" height="130" alt="ケヴィンの画像">
<div class="chrblank" style="width:90px;">粉ひき<br>ケヴィン</div>
<td><img src="/WebRecord/images/portrate//c88.jpg" width="90" height="130" alt="ピエールの画像">
<div class="chrblank" style="width:90px;">料理人<br>ピエール</div>
<td><img src="/WebRecord/images/portrate//c89.jpg" width="90" height="130" alt="カトリーナの画像">
<div class="chrblank" style="width:90px;">新妻<br>カトリーナ</div>
<td><img src="/WebRecord/images/portrate//c84.jpg" width="90" height="130" alt="ブレンダの画像">
<div class="chrblank" style="width:90px;">妻<br>ブレンダ</div>
<tr><td><img src="/WebRecord/images/portrate//c85.jpg" width="90" height="130" alt="ハナの画像">
<div class="chrblank" style="width:90px;">お使い<br>ハナ</div>
<td><img src="/WebRecord/images/portrate//c91.jpg" width="90" height="130" alt="ドロシーの画像">
<div class="chrblank" style="width:90px;">洗濯婦<br>ドロシー</div>
<td><img src="/WebRecord/images/portrate//c92.jpg" width="90" height="130" alt="セレストの画像">
<div class="chrblank" style="width:90px;">洗濯婦<br>セレスト</div>
<td><img src="/WebRecord/images/portrate//c93.jpg" width="90" height="130" alt="ベッキーの画像">
<div class="chrblank" style="width:90px;">洗濯婦<br>ベッキー</div>
<td><img src="/WebRecord/images/portrate//c78.jpg" width="90" height="130" alt="ネイサンの画像">
<div class="chrblank" style="width:90px;">道化師<br>ネイサン</div>
<td><img src="/WebRecord/images/portrate//c82.jpg" width="90" height="130" alt="ロビンの画像">
<div class="chrblank" style="width:90px;">執事見習い<br>ロビン</div>
<tr><td><img src="/WebRecord/images/portrate//c109.jpg" width="90" height="130" alt="ラディスラヴァの画像">
<div class="chrblank" style="width:90px;">村娘<br>ラディスラヴァ</div>
<td><img src="/WebRecord/images/portrate//c94.jpg" width="90" height="130" alt="ダーラの画像">
<div class="chrblank" style="width:90px;">女主人<br>ダーラ</div>
<td><img src="/WebRecord/images/portrate//c102.jpg" width="90" height="130" alt="ウォーレンの画像">
<div class="chrblank" style="width:90px;">指揮者<br>ウォーレン</div>
<td><img src="/WebRecord/images/portrate//c73.jpg" width="90" height="130" alt="ローズマリーの画像">
<div class="chrblank" style="width:90px;">水商売<br>ローズマリー</div>
<td><img src="/WebRecord/images/portrate//c81.jpg" width="90" height="130" alt="サイラスの画像">
<div class="chrblank" style="width:90px;">薬屋<br>サイラス</div>
<td><img src="/WebRecord/images/portrate//c64.jpg" width="90" height="130" alt="へクターの画像">
<div class="chrblank" style="width:90px;">墓荒らし<br>へクター</div>
<tr><td><img src="/WebRecord/images/portrate//c107.jpg" width="90" height="130" alt="イヴォンの画像">
<div class="chrblank" style="width:90px;">成金<br>イヴォン</div>
<td><img src="/WebRecord/images/portrate//c67.jpg" width="90" height="130" alt="ソフィアの画像">
<div class="chrblank" style="width:90px;">店番<br>ソフィア</div>
<td><img src="/WebRecord/images/portrate//c76.jpg" width="90" height="130" alt="ジョージの画像">
<div class="chrblank" style="width:90px;">留守番<br>ジョージ</div>
<td><img src="/WebRecord/images/portrate//c60.jpg" width="90" height="130" alt="ポーチュラカの画像">
<div class="chrblank" style="width:90px;">良家の末娘<br>ポーチュラカ</div>
<td><img src="/WebRecord/images/portrate//c45.jpg" width="90" height="130" alt="プリシラの画像">
<div class="chrblank" style="width:90px;">博徒<br>プリシラ</div>
<td><img src="/WebRecord/images/portrate//c87.jpg" width="90" height="130" alt="エリアスの画像">
<div class="chrblank" style="width:90px;">病人<br>エリアス</div>
<tr><td><img src="/WebRecord/images/portrate//c48.jpg" width="90" height="130" alt="ビアンカの画像">
<div class="chrblank" style="width:90px;">宝石収集家<br>ビアンカ</div>
<td><img src="/WebRecord/images/portrate//c86.jpg" width="90" height="130" alt="ホレーショーの画像">
<div class="chrblank" style="width:90px;">放蕩者<br>ホレーショー</div>
<td><img src="/WebRecord/images/portrate//c83.jpg" width="90" height="130" alt="アイリスの画像">
<div class="chrblank" style="width:90px;">受付<br>アイリス</div>
<td><img src="/WebRecord/images/portrate//c31.jpg" width="90" height="130" alt="ネルの画像">
<div class="chrblank" style="width:90px;">童話作家<br>ネル</div>
<td><img src="/WebRecord/images/portrate//c103.jpg" width="90" height="130" alt="ナンシーの画像">
<div class="chrblank" style="width:90px;">厭世家<br>ナンシー</div>
<td><img src="/WebRecord/images/portrate//c99.jpg" width="90" height="130" alt="サイモンの画像">
<div class="chrblank" style="width:90px;">厭世家<br>サイモン</div>
</tbody>
</table>

<h3>～最初の犠牲者～</h3>

<table class="mes_nom">
<tr class="say">
<td class="img"><img src="/WebRecord/images/portrate//c99.jpg" width="90" height="130" alt="サイモンの顔画像">
<td class="field"><DIV class="msg">
  <h3 class="mesname"> <a name="SS00001">厭世家 サイモン</a></h3>
  <p class="mes_text">嗚呼、聞こえ る。やつの足音が聞こえる……。</p>
  <p class="mes_date">～プロローグ～</p>
</DIV>
</table>
<table class="mes_nom">
<tr class="say">
<td class="img"><img src="/WebRecord/images/portrate//c99.jpg" width="90" height="130" alt="サイモンの顔画像">
<td class="field"><DIV class="msg">
  <h3 class="mesname"> <a name="SS00002">厭世家 サイモン</a></h3>
  <p class="mes_text">逃げろ。逃げろ！おまえらだけでも逃げろ。</p>
  <p class="mes_date">～1日目～</p>
</DIV>
</table>

<p class="return">
<a href="./sow.cgi?css=cinema800">トップページに戻る</a>
</p>
<hr class="invisible_hr">

</div><!-- inframe footer -->
</div><!-- contentframe footer -->

<div class="inframe">
<address>
(0.101 CPUs)<br>
<a name="bottom">SWBBS V2.00 Beta 8</a> <a href="http://asbntby.sakura.ne.jp/">あず/asbntby</a><br>
あっぱれ、うっかりアイコン by 小由流<br>
人狼議事キャラセット by りりんら<br>
管理 <a href="mailto:7korobi@gmail.com">ななころび</a> Sol・la<br>
</address>
</div>

</div>
</body>
</html>