$drag-enter-transform:    rotate3d(0,0,0,  0deg) translate(   0px, -50px) scale(0  , 1);
$message-enter-transform: rotate3d(0,0,0,  0deg) translate(   0px,-100px) scale(1.3, 1);

$goal-transform:          rotate3d(0,0,0,  0deg) translate(   0px,   0px) scale(1  , 1);

$drag-leave-transform:    rotate3d(0,0,1,-90deg) translate(   0px,-900px) scale(0  , 1);
$message-leave-transform: rotate3d(0,0,0,  0deg) translate(   0px, 100px) scale(0.5, 1);

$fixedbox-transform: all 100ms ease;

@mixin transform($transform){
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  -o-transform: $transform;
  transform: $transform;
}

@mixin transition-delay($delay){
  -webkit-transition-delay: $delay;
  -moz-transition-delay: $delay;
  -ms-transition-delay: $delay;
  -o-transition-delay: $delay;
  transition-delay: $delay;
}

@mixin transition($duration, $timing-func, $target-property){
  -webkit-transition-property: -webkit-transform, -moz-transform, -ms-transform, -o-transform, transform, $target-property;
  -webkit-transition-timing-function: $timing-func;
  -webkit-transition-duration: $duration;

  -moz-transition-property: -webkit-transform, -moz-transform, -ms-transform, -o-transform, transform, $target-property;
  -moz-transition-timing-function: $timing-func;
  -moz-transition-duration: $duration;

  -ms-transition-property: -webkit-transform, -moz-transform, -ms-transform, -o-transform, transform, $target-property;
  -ms-transition-timing-function: $timing-func;
  -ms-transition-duration: $duration;

  -o-transition-property: -webkit-transform, -moz-transform, -ms-transform, -o-transform, transform, $target-property;
  -o-transition-timing-function: $timing-func;
  -o-transition-duration: $duration;

  transition-property: -webkit-transform, -moz-transform, -ms-transform, -o-transform, transform, $target-property;
  transition-timing-function: $timing-func;
  transition-duration: $duration;
}

.mobile,
.pc {
  .drag.contentframe {
    &.ng-enter,
    &.ng-leave {
      @include transition(200ms, ease-in, opacity);
    }

    &.ng-enter {
      @include transform($drag-enter-transform);
      opacity: 0;
    }

    &.ng-enter-active, &.ng-leave {
      @include transform($goal-transform);
      opacity: 1;
    }

    &.ng-leave-active {
      @include transform($drag-leave-transform);
      opacity: 0;
    }
  }
}

.pc {
  .show-setup,
  .hide-setup.hide-start {
    opacity:0;
  }

  .hide-setup,
  .show-setup.show-start {
    opacity:1;
  }

  .show-setup,
  .hide-setup {
    @include transition(100ms, ease-in, opacity);
  }

  #topviewer,
  #sayfilter,
  #buttons {
    @include transition(100ms, ease-in, opacity);
  }

  .message_filter {
    &.ng-enter,
    &.ng-leave {
      @include transition(80ms, ease-in, opacity);
    }
    &.ng-enter {
    }
    &.ng-move,
    &.fade-hide,
    &.fade-show {
      @include transition(0, ease-in, opacity);
      @include transition-delay(0);
    }

    &.ng-enter {
      @include transform($message-enter-transform);
      opacity: 0;
    }
    &.ng-enter-active,
    &.ng-leave {
      @include transform($goal-transform);
      opacity: 1;
    }
    &.ng-leave-active {
      @include transform($message-leave-transform);
      opacity: 0;
    }

    &.ng-move {
    }
    &.ng-move-active {
    }
  }
}

.ng-remove {
}
.ng-remove-active, .ng-add {
}
.ng-add-active {
}
