form.login {
  input {
    width: 12ex;
  }
  label {
    display: inline;
  }
}

.form_vmake {
  label  {
    display: inline;
  }
  input[name^=cnt],
  input.input-tiny {
    width:  2.5ex;
    height: 2.0em;
  }
  input[type=password] {
    width: 10em;
  }
}


fieldset.action_type  select,
.formpl_content textarea,
.formpl_actiontext {
  width: 100% !important;
}
.formpl_content label { display: inline;}
.formpl_action {
  legend { margin-bottom: 0; }
}

.form-horizontal .vote {
	.control-label {
		width: 4.5em;
	}
	.controls {
		margin-left: 5em;
	}
}

.inline-errors {
  color: #ffffff;
  vertical-align: baseline;
  white-space: nowrap;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);

  background-color: #b94a48;
  padding: 1px 9px 2px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;  
}

select {
  white-space: nowrap;
}

.form-control {
  padding: 0;
}

.input-mini {
  width: 60px !important;
}
.input-small {
  width: 90px !important;
}
.input-medium {
  width: 150px !important;
}
.input-large {
  width: 210px !important;
}
.input-xlarge {
  width: 270px !important;
}
.input-xxlarge {
  width: 530px !important;
}

