.inframe {
  text-align: left;

  .pagenavi {
    padding-left: 8px;
  }

  .INFONOM,
  .INFOSP,
  .INFOWOLF,
  .MAKER,
  .ADMIN,
  .info,
  .infosp,
  .infowolf,
  .mes_maker,
  .mes_admin,
  .caution,
  .action_bm,
  .turnnavi,
  .row_all,
  .secret {
    padding-left: 11px;
    margin-bottom: 6px;
  }
  .log {
    margin-bottom: 6px;
  }
}

.outframe,
.outframe_navimode {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
}

[theme="giji"], [theme="pan"] {
  text-align: right;
  font-size:   100%;

}

rt,
sup,
sub {
  font-size:x-small;
}
hr.invisible_hr { display: none; }

body {
  background-position: center;
  text-align: center;
  overflow-x: hidden;
}

address,
address * {
  margin: 0px;
  padding: 0px;
  text-align: right;
  font-size: smaller;
  clear: both;
}

.btn {
  white-space: nowrap;
}

.drag,
.ajax {
  position: absolute;
}

.say .img{
  vertical-align: top;
  padding: 0 11px 6px 0;
}

.note {
  opacity: 75%;
}

img[onclick] {
  cursor: pointer;
}

#buttons {
}

th strong{
  font-size: large;
}

h1, h2, h3, h4, h5, h6 {
  clear: both;
}

hr {
  clear: both;
  margin: 0 0 2px 0;
}

.css_changer {
  text-align:right;
}

.modination,
.pagination {
  padding: 0 4px 4px 4px;
  .btn {
    padding: 4px 0;
  }
}

.modination .btn {
  width: 6ex;
}
.pagination .btn {
  width: 4ex;
}

.board {
  text-align: center;
  margin: 0 0 0 5%;
  width: 90%;
  td {
    vertical-align: top;
  }

  .choice {
    border-bottom: none;
    th, td {
      vertical-align: bottom;
      border-top: none;
    }
    .link A{
      display: block;
    }
  }
}

.rolebox {
  white-space: nowrap;
  text-align: right;
  input {
    width: 2.5ex;
  }
}

.chrbox {
}

.chrbox,
.chrblank,
.chrM,
.chrF,
.say img {
  float: left;
  max-width: 90px;
  width:     90px;
}

.chrlist {
  clear: both;
  padding: 0px;
  text-align: center;
  background-color: #000;
}

.chrblank, .chrM, .chrF {
  background-repeat: no-repeat;
  background-position: top;
  padding: 0.5ex 0 0.5ex;
  margin: 0 auto 0 auto;

  line-height: 1.3em;
  min-height:  2.6em;
  font-size: smaller;
  text-align: center;
  white-space: nowrap;

  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}
.chrblank {
  background-color: #444844
}
.chrM {
  background-color: #444888
}
.chrF {
  background-color: #884844
}

.sayfilter_content_enable {
  width: 100%;
}

.sayfilter_content_disenable {
  width: 100%;
}

.sayfilter_incontent input {
  display: none;
}

.sayfilter_content th {
  padding: 1px;
}

dt, dd {
  padding: 4px 0
}

#tab .paragraph {
  th {padding: 0 3px 3px 3px;}
  td {padding: 1px 0 0 3px;}
  .name {
    margin-right: -3ex;
    white-space: nowrap;
  }
  .nowrap {
    white-space: nowrap;
  }
}

.clearboth { clear:both; }
.invisible_hr { display: none; }
.say { width:100%; }
img { border-style: none; }

#clipboard,
#cliptext,
.action_type,
.action_type legend {
  font-size: smaller;
  line-height: 1em;
}
