.inframe {
  text-align: left;

  .pagenavi {
    padding-left: 48px;
  }

  .INFONOM,
  .INFOSP,
  .INFOWOLF,
  .MAKER,
  .ADMIN,
  .info,
  .infosp,
  .infowolf,
  .mes_maker,
  .mes_admin,
  .caution,
  .action_bm,
  .turnnavi,
  .row_all,
  .secret,
  h2,
  h3 {
    padding-left: 11px;
  }
}

rt,
sup,
sub {
  font-size:x-small;
}
hr.invisible_hr { display: none; }

body {
  background-position: center;
  text-align: center;
  overflow-x: hidden;
}

address,
address * {
  margin: 0px;
  padding: 0px;
  text-align: right;
  font-size: smaller;
  clear: both;
}

.btn {
  white-space: nowrap;
}

.drag,
.ajax {
  position: absolute;
}

.say .img{
  vertical-align: top;
  padding: 0 11px 6px 0;
}

.note {
  opacity: 75%;
  font-size: 13px;
  line-height: 14px;
}

.table-condensed td {
  line-height: 2ex;
}

form.login {
  input {
    width: 12ex;
  }
  label {
    display: inline;
  }
}

img[onclick] {
  cursor: pointer;
}

#buttons {
}

.form_vmake {
  label  {
    display: inline;
  }
  input[name^=cnt],
  input.input-tiny {
    width: 2.5ex;
  }
  input[type=password] {
    width: 10em;
  }
}

th strong{
  font-size: large;
}

h1, h2, h3, h4, h5, h6 {
  clear: both;
}

hr {
  clear: both;
  margin: 0 0 2px 0;
}

.css_changer {
  text-align:right;
}

.modination,
.pagination {
  padding: 0 4px 4px 4px;
  .btn {
    padding: 4px 0;
  }
}

.modination .btn {
  width: 6ex;
}
.pagination .btn {
  width: 4ex;
}

.board {
  text-align: center;
  margin: 0 0 0 5%;
  width: 90%;
  th, td, td a {
    font-size:  12px;
    text-align: 16px;
  }
  td {
    vertical-align: top;
  }

  .choice {
    border-bottom: none;
    th, td {
      vertical-align: bottom;
      border-top: none;
    }
    .link A{
      display: block;
    }
  }
}

.rolebox {
  white-space: nowrap;
  text-align: right;
  input {
    width: 2.5ex;
  }
}

.chrbox {
  height: 200px;
}

.chrbox,
.chrblank,
.chrM,
.chrF,
.say img {
  float: left;
  max-width: 90px;
  width:     90px;
}

.chrlist {
  clear: both;
  padding: 0px;
  text-align: center;
  background-color: #000;
}

.chrblank, .chrM, .chrF {
  background-repeat: no-repeat;
  background-position: top;
  padding: 6px 0 0 0;
  height: 60px;
  font-size: smaller;
  margin: 0 auto 0 auto;
  text-align: center;
}
.chrblank {
  background-image: url(http://giji.check.jp/images/portrate/blank.jpg);
}
.chrM {
  background-image: url(http://giji.check.jp/images/portrate/blankM.jpg);
}
.chrF {
  background-image: url(http://giji.check.jp/images/portrate/blankF.jpg);
}

.sayfilter_content_enable {
  width: 100%;
}

.sayfilter_content_disenable {
  width: 100%;
}

.sayfilter_incontent input {
  display: none;
}

dt, dd {
  padding: 4px;
}

.popover{
  .popover-content {
    background-color: rgba(0,50,0,0.8);
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
  }
}

.toppage {
  .paragraph,
  .accordion dt,
  .accordion dd {
    background-color: rgba(0,0,0,0.5);
    text-align: left;
  }

  .accordion {
    border-top: 1px solid #CCC;
  }
  .accordion dt,
  .accordion dd {
    border-bottom: 1px solid #CCC;
  }
}

.mesname {
  line-height: 24px;
}

/* メモ ----------*/
.memo {
  width: 100%;
}
/* メモの左側 ----------*/
.memoleft {
  border-style: none dashed solid none;
  border-width: 0 1px 1px 0;
  border-collapse: collapse; /* CSS2? */
}
/* メモの右側 ----------*/
.memoright {
  border-style: none none solid none;
  border-width: 0 0 1px 0;
  border-collapse: collapse; /* CSS2? */
}

.text .mark {
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  padding: 0 4px;
  font-weight: bold;
  white-space: nowrap;
  background-color: rgba(255, 255, 255, 0.25);
}

.text em,
.mes_text em,
.mes_text_report em,
.mes_text_monospace em{
  opacity: 0.7;
  font-style:  normal;
}

.text,
.mes_text,
.mes_text_report{
  padding: 0px;
  vertical-align: top;
}

.head:first-line,
.mes_text_report:first-line{
  font-weight: bold !important;
}

.mono,
.mes_text_monospace ,
.mes_text_monospace i{
  padding: 0px;
  vertical-align: top;
  layout-grid: both loose 0 0;
  font-family: monospace !important;
}

.mes_date {
  text-align: right;
}

.MAKER, .mes_maker {
  color: #ccf; background: #000;
  h3 { color: #844;}
  a {  color: #afa;}
  .action, .guide {
    border-style: none;
    text-align: left;
    color: #ccf;  background: #000;
  }
}

.ADMIN, .mes_admin {
  color: #c99; background: #000;
  h3 { color: #666;}
  a {  color: #afa;}
  .action, .guide {
    border-style: none;
    text-align: left;
    color: #c99;  background: #000;
  }
}

.clearboth { clear:both; }
.invisible_hr { display: none; }
.say { width:100%; }
img { border-style: none; }

#clipboard,
#cliptext,
.action_type,
.action_type legend {
  font-size: smaller;
  line-height: 1em;
}
