address,
address * {
  margin: 0px;
  padding: 0px;
  text-align: right;
  font-size: smaller;
  clear: both;
}

.btn {
  white-space: nowrap;
}

.drag,
.ajax {
  position: absolute;
}

.say .img{
  vertical-align: top;
  padding: 0 11px 6px 0;
}

.note {
  opacity: 75%;
  font-size: 13px;
  line-height: 14px;
}

.table-condensed td {
  line-height: 2ex;
}

form.login {
  input {
    width: 12ex;
  }
  label {
    display: inline;
  }
}

img[onclick] {
  cursor: pointer;
}

#buttons {
}

.form_vmake {
  label  {
    display: inline;
  }
  input[name=cntmob] ,
  label + input[type=text] {
    width: 2.5ex;
  }
  input[type=password] {
    width: 10em;
  }
}

th strong{
  font-size: large;
}

h1, h2, h3, h4, h5, h6 {
  clear: both;
}

hr {
  clear: both;
  margin: 0 0 2px 0;
}

.css_changer {
  text-align:right;
}

.modination,
.pagination {
  padding: 0 4px 4px 4px;
  .btn {
    padding: 4px 0;
  }
}

.modination .btn {
  width: 6ex;
}
.pagination .btn {
  width: 4ex;
}

.board {
  text-align: center;
  margin: 0 0 0 5%;
  width: 90%;
  th, td, td a {
    font-size:  12px;
    text-align: 16px;
  }
  td {
    vertical-align: top;
  }

  .choice {
    border-bottom: none;
    th, td {
      vertical-align: bottom;
      border-top: none;
    }
    .link A{
      display: block;
    }
  }
}

.rolebox {
  white-space: nowrap;
  text-align: right;

  float: left;
  max-width: 17ex;
  width:     17ex;
  input {
    width: 2.5ex;
  }
}

.chrbox {
  height: 200px;
}

.chrbox,
.chrblank,
.chrM,
.chrF,
.say img {
  float: left;
  max-width: 90px;
  width:     90px;
}

.chrlist {
  clear: both;
  padding: 0px;
  text-align: center;
  background-color: #000;
}

.chrblank, .chrM, .chrF {
  background-repeat: no-repeat;
  background-position: top;
  padding: 6px 0 0 0;
  height: 60px;
  font-size: smaller;
  margin: 0 auto 0 auto;
  text-align: center;
}
.chrblank {
  background-image: url(http://giji.check.jp/images/portrate/blank.jpg);
}
.chrM {
  background-image: url(http://giji.check.jp/images/portrate/blankM.jpg);
}
.chrF {
  background-image: url(http://giji.check.jp/images/portrate/blankF.jpg);
}

.sayfilter_content_enable {
  width: 100%;
}

.sayfilter_content_disenable {
  width: 100%;
}

.sayfilter_incontent input {
  display: none;
}

.text em,
.mes_text em,
.mes_text_report em,
.mes_text_monospace em{
  opacity: 0.7;
  font-style:  normal;
}
.text span,
.mes_text span,
.mes_text_report span,
.mes_text_monospace span{
  opacity: 0.5;
  font-size: x-small;
}


.text,
.mes_text,
.mes_text_report{
  padding: 0px;
  vertical-align: top;
}

.head:first-line,
.mes_text_report:first-line{
  font-weight: bold !important;
}

.mono,
.mes_text_monospace ,
.mes_text_monospace i{
  padding: 0px;
  vertical-align: top;
  layout-grid: both loose 0 0;
  font-family: monospace !important;
}

.mes_date {
  text-align: right;
}

.MAKER, .mes_maker {
  color: #ccf; background: #000;
  h3 { color: #844;}
  a {  color: #afa;}
  .action, .guide {
    border-style: none;
    text-align: left;
    color: #ccf;  background: #000;
  }
}

.ADMIN, .mes_admin {
  color: #c99; background: #000;
  h3 { color: #666;}
  a {  color: #afa;}
  .action, .guide {
    border-style: none;
    text-align: left;
    color: #c99;  background: #000;
  }
}

.clearboth { clear:both; }
.invisible_hr { display: none; }
.say { width:100%; }
img { border-style: none; }

#clipboard,
#cliptext,
.action_type,
.action_type legend {
  font-size: smaller;
  line-height: 1em;
}

fieldset.action_type  select,
.formpl_content textarea,
.formpl_actiontext {
  width: 98%;
}
.formpl_content label { display: inline;}
.formpl_action {
  legend { margin-bottom: 0; }
  select { width: 55%;}
}

li.token-input-token,
li.token-input-input-token {
  float: left;
  white-space: nowrap;
  list-style-type: none;
}

li.token-input-token {
  border: 1px solid black;
  margin: 1px;
  float: left;
  height: auto !important;
  overflow: hidden;
  white-space: nowrap;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  span {
    margin-left: 5px;
    cursor: pointer;

  }
  p {
    display: inline;
    padding: 0;
    margin: 0;
  }
}

li.token-input-selected-token {
  font-weight: bold;
}

ul.token-input-list {
  border: 1px solid black;
  overflow: hidden;
  min-height: 1px;
  height: auto !important;
  cursor: text;
  clear: left;
  background-color: white;
  list-style-type: none;
  clear: left;
  li input {
    background-color: white;
    -webkit-appearance: caret;
    width: 30px;
    border: 0;
    margin: 0;
    padding: 0;
  }
}

div.token-input-dropdown {
  position: absolute;
  background-color: #fff;
  overflow: hidden;
  border: 1px solid #ccc;
  cursor: default;
  z-index: 1;
  p {
    margin: 0;
    padding: 5px;
    font-weight: bold;
    color: #777;
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      background-color: #fff;
      padding: 3px;
      margin: 0;
      list-style-type: none;
      em {
        font-weight: bold;
        font-style: normal;
      }
      .token-input-dropdown-item,
      .token-input-dropdown-item2 {
        background-color: #fff;
      }
      .token-input-selected-dropdown-item {
        background-color: #3b5998;
        color: #fff;
      }
    }
  }
}
