select(ng-model="page.value"  ng-options="o.val as o.name for o in page.select"  class="input-mini" ng-hide="event.is_news")
select(ng-model="order.value" ng-options="o.val as o.name for o in order.select" class="input-medium")
select(ng-model="row.value"   ng-options="o.val as o.name for o in row.select"   class="input-small")
