//= require  ./color/black

b{
  color: #fff;
  font-weight: inherit;
}

h3 {
  color: #ffa;
}

/* フィルタ小見出し（広げた時）----------*/
.sayfilter_caption_enable {
  color: #eed;
}

/* フィルタ小見出し（畳んだ時）----------*/
.sayfilter_caption_disenable {
  color: #888;
}

/* フィルタ選択欄（有効時）----------*/
.sayfilter_button_lump,
.sayfilter_content_enable {
  color: #eed;
}

/* フィルタ選択欄（無効時）----------*/
.sayfilter_content_disenable {
  color: #888;
}

.drag,
.ajax {
  border: 0 solid #348;
  border-width: 2px 0 2px 0;
}

.mes_text_monospace{
  background-image: url("/images/bg/grid_blue.gif");
}

/* やんわり注意表示 ----------*/
.infotext {
  color: #aaa;
}

/* 警告・注意する部分（インライン） ----------*/
.cautiontext {
  font-weight: bold;
  color: #f44;
}

/* 発言の日付 ----------*/
.mes_date {
  opacity: 0.5;
}

.INFONOM,  .info      {  color: #997; background-color: #000; }
.INFOSP,   .infosp    {  color: #997; background-color: #000; }
.INFOWOLF, .infowolf  {  color: #f69; background-color: #100; }
.caution   {  color: #666; background-color: #111; }
.action_nom,
.action    {  color: #ddf; background-color: rgba(  0,  0,  0, 0.33); border-color: #999 #ddf; }
.TSAY .action,
.mes_think .action,
.action_bm {  color: #cb8; background-color: rgba(  0,  0,  0, 0.33); border-color: #333 #999; font-weight: bold; }

/* 発言者名 ----------*/
.mesname {
  opacity: 0.5;
  color: inherit;
  background: transparent;
}

/*
.msg {
     -moz-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
     -moz-transform: skew( 2deg) ;
  -webkit-transform: skew( 2deg) ;
}
.msg h3,
.msg p {
     -moz-transform-origin: 0 100%;
  -webkit-transform-origin: 0 100%;
     -moz-transform: skew(-2deg) ;
  -webkit-transform: skew(-2deg) ;
}
*/

/* 発言 ----------*/
.mesname a,
.MSAY .action,
.MSAY .msg,
.MSAY .memoleft,
.MSAY .memoright,
.SAY .action,
.SAY .msg,
.SAY .memoleft,
.SAY .memoright,
.QUEUE .msg,
.QUEUE .memoleft,
.QUEUE .memoright,
.mes_nom .action,
.mes_nom .memoleft,
.mes_nom .memoright,
.mes_nom .msg{
  color: #ddf; background-color: rgba(  0,  0,  0, 0.33); border-color: #999 #ddf; }

/* 削除済み発言 ----------*/
.DELETED .img,
.DELETEDADMIN .img,
.mes_del .img{
  opacity: 0.25;
}
.DELETED .action,
.DELETED .msg,
.DELETED .memoleft,
.DELETED .memoright,
.DELETED .action,
.DELETED .msg,
.mes_del .memoleft,
.mes_del .memoright,
.mes_del .action,
.mes_del .memoleft,
.mes_del .memoright,
.mes_del .msg{
  color: #444; background-color: rgba( 40, 40, 40, 0.33); border-color: #222 #444; }
/* 未確定発言 ----------*/
.QUE .action,
.QUE .msg,
.QUE .memoleft,
.QUE .memoright,
.mes_que .action,
.mes_que .memoleft,
.mes_que .memoright,
.mes_que .msg{
  color: #aaa; background-color: rgba(  0,  0,  0, 0.33); border-color: #555 #aaa; border: none; }
/* 独り言 ----------*/
.TSAY .action,
.TSAY .msg,
.TSAY .memoleft,
.TSAY .memoright,
.mes_think .action,
.mes_think .memoleft,
.mes_think .memoright,
.mes_think .msg{
  color: #996; background-color: rgba(  0,  0, 60, 0.33); border-color: #554 #996; } /*茶鼠*/

/* 死者のうめき ----------*/
.GSAY .action,
.GSAY .msg,
.GSAY .memoleft,
.GSAY .memoright,
.mes_grave .action,
.mes_grave .memoleft,
.mes_grave .memoright,
.mes_grave .msg{
  color: #99f; background-color: rgba( 30, 30,  0, 0.33); border-color: #335 #99f; } /*空色*/

/* 見物人 ------*/
.VSAY .action,
.VSAY .msg,
.VSAY .memoleft,
.VSAY .memoright,
.mes_mob .action,
.mes_mob .memoleft,
.mes_mob .memoright,
.mes_mob .msg{
  color: #ffb; background-color: rgba(  0,  0,  0, 0.33); border-color: #999 #ddf; } /*榛色*/
/* 囁き ----------*/
.WSAY .action,
.WSAY .msg,
.WSAY .memoleft,
.WSAY .memoright,
.mes_wolf .action,
.mes_wolf .memoleft,
.mes_wolf .memoright,
.mes_wolf .msg{
  color: #f78; background-color: rgba(  0, 30, 30, 0.33); border-color: #944 #f78; } /*紅海老茶*/
/* 共鳴 ----------*/
.SPSAY .action,
.SPSAY .msg,
.SPSAY .memoleft,
.SPSAY .memoright,
.AIM .action,
.AIM .msg,
.AIM .memoleft,
.AIM .memoright,
.mes_sympa .action,
.mes_sympa .memoleft,
.mes_sympa .memoright,
.mes_sympa .msg{
  color: #fca; background-color: rgba( 20, 40, 50, 0.33); border-color: #865 #fca; } /*薄柿*/
/* 念話 ----------*/
.BSAY .action,
.BSAY .msg,
.BSAY .memoleft,
.BSAY .memoright,
.XSAY .action,
.XSAY .msg,
.XSAY .memoleft,
.XSAY .memoright,
.mes_bat  .msg ,
.mes_pixi .action,
.mes_pixi .memoleft,
.mes_pixi .memoright,
.mes_pixi .msg {
  color: #9f9; background-color: rgba( 30,  0, 30, 0.33); border-color: #583 #9f9; }


/* 発言入力欄（共通） ---*/
.formpl_common {
  border-color: #999;
}
.formpl_common .msg ,
.formpl_commit ,
.formpl_undef  {
  border-color: #999 #ddf;
  color: #ddf;
  background-color: rgba(  0,  0,  0, 0.33);
}
.formpl_vil      ,
.formpl_seer     ,
.formpl_medium   ,
.formpl_guard    ,
.formpl_fm       ,
.formpl_stigma   ,
.formpl_sympathy ,
.WIN_NONE        ,
.WIN_HUMAN       ,
.WIN_DISH        {
  border-color: #554 #997;
  color: #997;
  background-color: rgba(  0,  0,  0, 0.33);
}
.WIN_LONEWOLF ,
.WIN_PIXI     ,
.WIN_GURU     {
  border-color: #554 #997;
  color: #997;
  background-color: rgba(  0,  0, 70, 0.33);
}
.WIN_HATER {
  border-color: #555 #aaa;
  color: #aaa;
  background-color: rgba( 50, 50, 50, 0.33);
}
.formpl_love ,
.WIN_LOVER   {
  border-color: #766 #dcb;
  color: #dcb;
  background-color: rgba( 20, 40, 50, 0.33);
}
.formpl_wolf     ,
.formpl_possess  ,
.formpl_fanatic  ,
.formpl_cpossess ,
.formpl_cwolf    ,
.formpl_intwolf  ,
.WIN_WOLF {
  border-color: #823 #f45;
  color: #f45;
  background-color: rgba(  0, 30, 30, 0.33);
}
.formpl_pixi,
.formpl_trickster,
.formpl_hamster  ,
.formpl_werebat  ,
.WIN_EVIL {
  border-color: #380 #6f0;
  color: #6f0;
  background-color: rgba( 30,  0, 30, 0.33);
}

.WIN_NONE     a ,
.WIN_HUMAN    a ,
.WIN_DISH     a ,
.WIN_LONEWOLF a ,
.WIN_PIXI     a ,
.WIN_GURU     a ,
.WIN_HATER    a ,
.WIN_LOVER    a ,
.WIN_WOLF     a ,
.WIN_EVIL     a {
  color: #FFF;
}



