@charset "Shift_JIS";
@import url("size/800legacy.css");
@import url("theme/juna.css");

/* GROBAL --------------------*/
* {
  font-size: 100%;
  line-height: 130%;
}

.sayfilter     table{  width: 235px; }
.sayfilterleft table{  width: 175px; }
