@charset "Shift_JIS";
@import url("size/480baloon.css");
@import url("theme/wa.css");

* {
  font-family: Meiryo UI;
  font-size: 100%;
  line-height: 130%;
}

.contentframe {
  background-image: url("/assets/bg/karakusa460.png");
  background-repeat: repeat-y;
  background-position: right;
}

/* フィルタを左に配置した時の内枠 ----------*/
.contentframe_navileft {
  background-image: url("/assets/bg/karakusa460.png");
  background-repeat: repeat-y;
  background-position: right;
}

.insayfilter .paragraph {
  border-width: 0 1px;
}

/* IMAGE AND TEXT LAYOUT --------------------*/

/* 発言のキャラ画像 ----------*/
.say .chrblank,
.say img {
  margin-left: 7px;
}
