@charset "Shift_JIS";
@import url("theme/wa.css");
@import url("size/800baloon.css");

* {
  font-family: Meiryo UI;
  font-size: 100%;
  line-height: 130%;
}

/* フィルタを左に配置した時の外枠 ----------*/
.contentframe {
  background-image: url("/assets/bg/karakusa580.png");
  background-repeat: repeat-y;
  background-attachment: fixed;
  background-position: center;
}

/* フィルタを左に配置した時の内枠 ----------*/
.contentframe_navileft {
  background-image: url("/assets/bg/karakusa770.png");
  background-repeat: repeat-y;
  background-attachment: fixed;
  background-position: center;
}


/* フィルタの中身 ----------*/

.sayfilter_heading {
  margin: 6px 0 0 0;
  border-top    :  2px solid #863;
  border-bottom :  2px solid #863;
}

.insayfilter {
  padding: 0;
  margin: 0 0 6px 0;
  border-bottom :  2px solid #863;
}
.insayfilter .paragraph {
  border-width: 0 0 1ex 0;
  margin: 0;
  padding: 0 8px;
}

/* IMAGE AND TEXT LAYOUT --------------------*/

/* 発言のキャラ画像 ----------*/
.action_nom, 
.action {
  margin-left: 109px;}
