@import url("/assets/application.css");

/* GROBAL --------------------*/
body {
  color: #ccc;
}

b{
  font-weight: thick;
}

.mes_maker a.res_anchor:link,
.mes_admin a.res_anchor:link,
a:link {
  color: #0ff;
}

.mes_maker a.res_anchor:visited,
.mes_admin a.res_anchor:visited,
a:visited {
  color: #08f;
}

.mes_maker a.res_anchor:active,
.mes_admin a.res_anchor:active,
a[href]:active {
  color: #f00;
}

.mes_maker a.res_anchor:hover,
.mes_admin a.res_anchor:hover,
a[href]:hover {
  color: #fff;
}

a.res_anchor:link {
  color: #0ff;
}

a.res_anchor:visited {
  color: #08f;
}

a.res_anchor:active {
  color: #f00;
}

a.res_anchor:hover {
  color: #fff;
}

h2 {
  color: #ccf;
  border-bottom: 1px solid #ccf;
}

h3 {
  color: #ffa;
}

/* フィルタ小見出し（広げた時）----------*/
.sayfilter_caption_enable {
  color: #000;
}

/* フィルタ小見出し（畳んだ時）----------*/
.sayfilter_caption_disenable {
  color: #888;
}

/* フィルタ選択欄（有効時）----------*/
.sayfilter_button_lump,
.sayfilter_content_enable {
  color: #000;
}

/* フィルタ選択欄（無効時）----------*/
.sayfilter_content_disenable {
  color: #888;
}

#topviewer,
.drag,
.ajax {
  border: 0px none;
}

.mes_text_monospace{
  background-image: url("/WebRecord/images/bg/grid.gif");
}

/* やんわり注意表示 ----------*/
.infotext {
  color: #999;
}

/* 警告・注意する部分（インライン） ----------*/
.cautiontext {
  font-weight: bold;
  color: #f44;
}

/* 発言の日付 ----------*/
.mes_date {
}

.info      {  color: #fff;  background: #000;  }
.infosp    {  color: #aaa;  background: #000;  }
.infowolf  {  color: #fff;  background: #622;  }
.caution   {  color: #f44;  background: #000;  }

/* 削除済み発言 ----------*/
.mes_del .img{
  opacity: 0.25;
}
.mes_del {
  color: #fff;  background: #000;}
/* 未確定発言 ----------*/
.mes_que {
  color: #fff;  background: #553; border: none; }
.mes_nom {
  color: #fff;  background: #553; border: none; }
/* 独り言 ----------*/
.mes_think {
  color: #fff;  background: #444;} /*茶鼠*/

/* 死者のうめき ----------*/
.mes_grave {
  color: #fff;  background: #224;} /*空色*/

/* 見物人 ------*/
.mes_mob {
  color: #fff;  background: #662; } /*榛色*/
/* 囁き ----------*/
.mes_wolf {
  color: #fff;  background: #622; } /*紅海老茶*/
/* 共鳴 ----------*/
.mes_sympa {
  color: #fff;  background: #350; } /*薄柿*/
/* 念話 ----------*/
.mes_bat  ,
.mes_pixi {
  color: #fff;  background: #055;  }


/* 発言入力欄（共通） ---*/
.formpl_common {
  border-color: #664;
}
.formpl_common .msg ,
.formpl_common textarea ,
.formpl_commit ,
.formpl_commit textarea ,
.formpl_undef  ,
.formpl_undef  textarea ,
.formpl_vil      textarea,
.formpl_seer     textarea,
.formpl_medium   textarea,
.formpl_guard    textarea,
.formpl_fm       textarea,
.formpl_stigma   textarea,
.formpl_sympathy textarea{
  border-color: #664;
  color: #330;
  background: #cb8;
}
.formpl_vil      ,
.formpl_seer     ,
.formpl_medium   ,
.formpl_guard    ,
.formpl_fm       ,
.formpl_stigma   ,
.formpl_sympathy ,
.WIN_NONE        ,
.WIN_HUMAN       ,
.WIN_DISH        {
  border-color: #664;
  color: #330;
  background: #a97;
}
.WIN_LONEWOLF ,
.WIN_PIXI     ,
.WIN_GURU     {
  border-color: #664;
  color: #226;
  background: #a9d;
}
.WIN_HATER {
  border-color: #664;
  color: #444;
  background: #aaa;
}
.formpl_love ,
.formpl_love textarea,
.WIN_LOVER   {
  border-color: #664;
  color: #654;
  background: #dcb;
}
.formpl_wolf     ,
.formpl_wolf     textarea,
.formpl_possess  ,
.formpl_possess  textarea,
.formpl_fanatic  ,
.formpl_fanatic  textarea,
.formpl_cpossess ,
.formpl_cpossess textarea,
.formpl_cwolf    ,
.formpl_cwolf    textarea,
.formpl_intwolf  ,
.formpl_intwolf  textarea,
.WIN_WOLF {
  border-color: #833;
  color: #600;
  background: #a55;
}
.formpl_pixi,
.formpl_pixi     textarea,
.formpl_trickster,
.formpl_hamster  ,
.formpl_werebat  ,
.formpl_werebat  textarea,
.WIN_EVIL {
  border-color: #460;
  color: #130;
  background: #9a7;
}

textarea, input, select {
  color: #000;
}

.WIN_NONE     a ,
.WIN_HUMAN    a ,
.WIN_DISH     a ,
.WIN_LONEWOLF a ,
.WIN_PIXI     a ,
.WIN_GURU     a ,
.WIN_HATER    a ,
.WIN_LOVER    a ,
.WIN_WOLF     a ,
.WIN_EVIL     a {
  color: #111;
}


