@import url("/assets/application.css");

body {
  color: #ccc;
}

b{
  color: #004;
  font-weight: inherit;
}

.message_filter a{
  color: #004;
}

.mesname,
.mesname a,
.mesname a:hover {
  color: #333;
}

.MAKER a.res_anchor:link,
.ADMIN a.res_anchor:link,
.mes_maker a.res_anchor:link,
.mes_admin a.res_anchor:link,
a:link {
  color: #cea;
}

.MAKER a.res_anchor:visited,
.ADMIN a.res_anchor:visited,
.mes_maker a.res_anchor:visited,
.mes_admin a.res_anchor:visited,
a:visited {
  color: #ace;
}

.MAKER a.res_anchor:active,
.ADMIN a.res_anchor:active,
.mes_maker a.res_anchor:active,
.mes_admin a.res_anchor:active,
a[href]:active {
  color: #eca;
}

.MAKER a.res_anchor:hover,
.ADMIN a.res_anchor:hover,
.mes_maker a.res_anchor:hover,
.mes_admin a.res_anchor:hover,
a[href]:hover {
  color: #8bf;
}

.insayfilter a:link,
a.res_anchor:link {
  color: #043;
}

.insayfilter a:visited,
a.res_anchor:visited {
  color: #030;
}

.insayfilter a:active,
a.res_anchor:active {
  color: #333;
}

.insayfilter a:hover,
a.res_anchor:hover {
  color: #033;
}

h2 {
  color: #ccf;
  border-bottom: 1px solid #ccf;
}

h3 {
  color: #ffa;
}

/* フィルタ小見出し（広げた時）----------*/
.sayfilter_caption_enable {
  color: #000;
}

/* フィルタ小見出し（畳んだ時）----------*/
.sayfilter_caption_disenable {
  color: #888;
}

/* フィルタ選択欄（有効時）----------*/
.sayfilter_button_lump,
.sayfilter_content_enable {
  color: #000;
}

/* フィルタ選択欄（無効時）----------*/
.sayfilter_content_disenable {
  color: #888;
}

.drag,
.ajax {
  border: 0 solid #444;
  border-width: 2px 0 2px 0;
}

.mes_text_monospace{
  background-image: url("http://7korobi.gehirn.ne.jp/images/bg/grid.gif");
}

/* やんわり注意表示 ----------*/
.infotext {
  color: #999;
}

/* 警告・注意する部分（インライン） ----------*/
.cautiontext {
  font-weight: bold;
  color: #f44;
}

/* 発言の日付 ----------*/
.mes_date {
  color: #442;
}

.INFONOM,  .info      {  color: #000;  background: #a97;  }
.INFOSP,   .infosp    {  color: #440;  background: #a97;  }
.INFOWOLF, .infowolf  {  color: #440;  background: #a55;  }
.caution   {  color: #000;  background: #666;  }
.action_nom,
.action    {  color: #000;  background: #cb8;  }
.TSAY .action,
.mes_think .action,
.action_bm {  color: #000;  background: #cb8;  font-weight: bold; }

/* 削除済み発言 ----------*/
.DELETED .img,
.DELETEDADMIN .img,
.mes_del .img{
  opacity: 0.25;
}
.DELETED .action,
.DELETED .msg,
.DELETED .memoleft,
.DELETED .memoright,
.DELETEDADMIN .action,
.DELETEDADMIN .msg,
.mes_del .action,
.mes_del .memoleft,
.mes_del .memoright,
.mes_del .msg{
  color: #aaa;  background: #666;}
/* 未確定発言 ----------*/
.QUE .action,
.QUE .msg,
.QUE .memoleft,
.QUE .memoright,
.mes_que .action,
.mes_que .memoleft,
.mes_que .memoright,
.mes_que .msg{
  color: #664;  background: #cb8; border: none; }
/* 独り言 ----------*/
.TSAY .action,
.TSAY .msg,
.TSAY .memoleft,
.TSAY .memoright,
.mes_think .action,
.mes_think .memoleft,
.mes_think .memoright,
.mes_think .msg{
  color: #000;  background: #a98;} /*茶鼠*/

/* 死者のうめき ----------*/
.GSAY .action,
.GSAY .msg,
.GSAY .memoleft,
.GSAY .memoright,
.mes_grave .memoleft,
.mes_grave .memoright,
.mes_grave .msg{
  color: #000;  background: #bbd;} /*空色*/

/* 見物人 ------*/
.VSAY .action,
.VSAY .msg,
.VSAY .memoleft,
.VSAY .memoright,
.mes_mob .action,
.mes_mob .memoleft,
.mes_mob .memoright,
.mes_mob .msg{
  color: #000;  background: #ca6; } /*榛色*/
/* 囁き ----------*/
.WSAY .action,
.WSAY .msg,
.WSAY .memoleft,
.WSAY .memoright,
.mes_wolf .action,
.mes_wolf .memoleft,
.mes_wolf .memoright,
.mes_wolf .msg{
  color: #000;  background: #a55; } /*紅海老茶*/
/* 共鳴 ----------*/
.SPSAY .action,
.SPSAY .msg,
.SPSAY .memoleft,
.SPSAY .memoright,
.AIM .action,
.AIM .msg,
.AIM .memoleft,
.AIM .memoright,
.mes_sympa .action,
.mes_sympa .memoleft,
.mes_sympa .memoright,
.mes_sympa .msg{
  color: #000;  background: #dcb; } /*薄柿*/
/* 念話 ----------*/
.BSAY .action,
.BSAY .msg,
.BSAY .memoleft,
.BSAY .memoright,
.XSAY .action,
.XSAY .msg,
.XSAY .memoleft,
.XSAY .memoright,
.mes_bat  .msg ,
.mes_pixi .action,
.mes_pixi .memoleft,
.mes_pixi .memoright,
.mes_pixi .msg {
  color: #000;  background: #9a7;  }


/* 発言入力欄（共通） ---*/
.formpl_common {
  border-color: #664;
}
.formpl_common .msg ,
.formpl_common textarea ,
.formpl_commit ,
.formpl_commit textarea ,
.formpl_undef  ,
.formpl_undef  textarea ,
.formpl_vil      textarea,
.formpl_seer     textarea,
.formpl_medium   textarea,
.formpl_guard    textarea,
.formpl_fm       textarea,
.formpl_stigma   textarea,
.formpl_sympathy textarea{
  border-color: #664;
  color: #330;
  background: #cb8;
}
.formpl_vil      ,
.formpl_seer     ,
.formpl_medium   ,
.formpl_guard    ,
.formpl_fm       ,
.formpl_stigma   ,
.formpl_sympathy ,
.WIN_NONE        ,
.WIN_HUMAN       ,
.WIN_DISH        {
  border-color: #664;
  color: #330;
  background: #a97;
}
.WIN_LONEWOLF ,
.WIN_PIXI     ,
.WIN_GURU     {
  border-color: #664;
  color: #226;
  background: #a9d;
}
.WIN_HATER {
  border-color: #664;
  color: #444;
  background: #aaa;
}
.formpl_love ,
.formpl_love textarea,
.WIN_LOVER   {
  border-color: #664;
  color: #654;
  background: #dcb;
}
.formpl_wolf     ,
.formpl_wolf     textarea,
.formpl_possess  ,
.formpl_possess  textarea,
.formpl_fanatic  ,
.formpl_fanatic  textarea,
.formpl_cpossess ,
.formpl_cpossess textarea,
.formpl_cwolf    ,
.formpl_cwolf    textarea,
.formpl_intwolf  ,
.formpl_intwolf  textarea,
.WIN_WOLF {
  border-color: #833;
  color: #600;
  background: #a55;
}
.formpl_pixi,
.formpl_pixi     textarea,
.formpl_trickster,
.formpl_hamster  ,
.formpl_werebat  ,
.formpl_werebat  textarea,
.WIN_EVIL {
  border-color: #460;
  color: #130;
  background: #9a7;
}

textarea, input, select {
  color: #000;
}

.WIN_NONE     a ,
.WIN_HUMAN    a ,
.WIN_DISH     a ,
.WIN_LONEWOLF a ,
.WIN_PIXI     a ,
.WIN_GURU     a ,
.WIN_HATER    a ,
.WIN_LOVER    a ,
.WIN_WOLF     a ,
.WIN_EVIL     a {
  color: #111;
}


