@import url("/assets/color_white.css");
@import url("/assets/application.css");

/* GROBAL --------------------*/
.handler,
body {
  margin: 0px;
  padding: 0px;
  color: #ccf;
  background-image: url("http://giji.load.jp/images/bg/nagatanienn.png");
  background-repeat: repeat;
  background-position: center;
}

p {
  margin: 0px;
  padding: 0px;
}
div, form, td {
  margin: 0px;
  padding: 0px;
}

textarea {
  font-family: monospace;
}

textarea, input, select {
  color: #000;
}

a {
  text-decoration: none;
}



h1 {
  text-align: left;
}

h2 {
  text-align: center;
  background: #720;
}

h3.popover-title,
h3 {
  text-align: left;
  background: #224;
}

strong { }

.board{
  background-color: #002;
  border: 1px solid #765;
}
.choice .board{
  background-color: #002;
  border-top: 3px double #765;
}
.choice .board th{
  border-bottom: 1px dashed #765;
}
.choice .board td{
  border-top:  1px dashed #765;
  border-left: 1px solid  #765;
}
.choice {
  background-color: #224;
  border-bottom: 1px solid #224 !important;
}
.no_choice {
  border-bottom:1px dashed #765;
}

/* OTHERS --------------------*/
/* 村開始・更新ボタン ----------*/
.commitbutton {
  text-align: center;
}

/* 発言撤回欄 ----------*/
.saycancelframe {
  text-align: center;
}

/* 発言撤回ボタン ----------*/
.saycancelbutton {
  font-size: smaller;
}

/* 「戻る」リンク ----------*/
.return {
  margin: 0px;
  padding: 0px 0px 8px 0px;
  text-align: right;
}



/* ヒント・説明書 ----------*/
.tips{
  padding: 0px 8px;
}

.vindex {
  background-color: #002;
  border: 1px solid #765;
  border-collapse: collapse; /* CSS2? */
}

.vindex td,.vindex th{
  margin: 0px;
  padding: 1px;
  border: 1px solid #765;
  border-left: 1px dashed #765;
  border-right: 1px dashed #765;

}

/* 村作成画面 ----------*/
.form_vmake {
  margin: 0px;
  padding: 4px 0px;

  color: #000000;
  background: #cb8;
  border-top: 3px double #720;
  border-bottom: 3px double #720;
}

/* 村作成・編集ボタン ----------*/
.exevmake {
  text-align: center;
}

/* 段組（ラベル） ----------*/
.multicolumn_label {
  display: block;
  float: left;
  text-align: right;
}

/* 段組（左配置） ----------*/
.multicolumn_left {
  display: block;
  float: left;
}

/* 段組（右配置） ----------*/
.multicolumn_right {
  display: block;
  float: left;
}

/* 段組（役割入力欄） ----------*/
.multicolumn_role {
  width: 100%;
  color: #000;
  font-size: smaller;
}

/* 段組（改行） ----------*/
.multicolumn_clear {
  clear: left;
}


/* BODY FRAME --------------------*/

/* 外枠 ----------*/
.outframe {
  background-image: url("http://giji.load.jp/images/bg/nagatanienn.png");
  background-repeat: repeat;
  background-position: center;
}

/* 誤爆防止チェック欄 ----------*/
.previewsafety {
  color: #000000;
  background: #a55;
}

/* フィルタを左に配置した時の外枠 ----------*/
.outframe_navimode {
  background-image: url("http://giji.load.jp/images/bg/nagatanienn.png");
  background-repeat: repeat;
  background-position: center;
}

.contentframe {
  text-align: left;
}

/* フィルタを左に配置した時の内枠 ----------*/
.contentframe_navileft {
  background: #000;
  text-align: left;
  float: right;
}

/* 内枠の中身（タイトル画像は含まない） ----------*/
.inframe,
.inframe .memo {
}

/* SAY FILTER --------------------*/

/* フィルタ（下配置時）----------*/
.sayfilter {
  text-align: center;
  color: #000;
}

/* フィルタ（左配置時）----------*/
.sayfilterleft {
  text-align: left;
  color: #000;
  float: left;
}

/* フィルタの中身 ----------*/
.insayfilter {
  text-align: left;
}
#insayfilter .paragraph,
#notepad     .paragraph,
#navi_page   .paragraph {
  border-style: solid ; border-color: #a96;
}
/* フィルタの見出し ----------*/
.sayfilter_heading {
  border: none;
  font-weight: bold;
  color: #000;
  background: #a96;
}

/* フィルタ固定・配置ボタン ----------*/
.sayfilter_button {
  float: right;
  display: none;
}

.sayfilter_content .head,
.sayfilter_caption_enable    ,
.sayfilter_caption_disenable {
  font-weight: normal;
  margin: 0;
  padding: 1px;
  border-width: 1px 0 0 0 ; border-style: solid ; border-color: #000;
  background: #cc7;
}

/* フィルタ選択欄枠----------*/
.sayfilter_content_enable    ,
.sayfilter_content_disenable ,
.sayfilter_content           ,
#lumpfilter ,
#lumpfilter input {
  font-weight: normal;
  background: #cc8;
}

/* フィルタ選択欄（有効時）----------*/
.sayfilter_content_enable    ,
.sayfilter_content_disenable {
  border-width: 0;
  width: 100%;
}

.sayfilter_incontent input {
  display: none;
}

/* フィルタ一括操作用ボタン ----------*/
.sayfilter_button_mestype ,
.sayfilter_button_lump {
  text-align: center;
}

/* ログイン欄 ----------*/
.login {
  margin: 0px;
  text-align: right;
}
/* 日付リンク ----------*/
/* ページリンク ----------*/
/* 非ログイン時注意表示 ----------*/
/* 全表示リンク ----------*/
.turnnavi    ,
.pagenavi    ,
.infonologin ,
.row_all     {
  color: #ccf;
  background-color: #002;
  font-weight: bold;
}

/* 表示行数・表示順序変更フォーム ----------*/
.viewform {
  text-align: right;
}

/* 発言のキャラ画像 ----------*/
.say img {
  border-width: 2px 0 2px 0 ; border-style: solid ; border-color: #300;
}

.MAKER,
.ADMIN,
.INFONOM,
.INFOSP,
.INFOWOLF,
.mes_maker ,
.mes_admin ,
.info      ,
.infosp    ,
.infowolf  ,
.caution   {
  border-width: 3px 0; border-style: double none;
}
.MAKER,
.mes_maker {
  border-color: #720;
}
.ADMIN,
.mes_admin {
  border-color: #720;
}

.INFONOM,
.INFOSP,
.INFOWOLF,
.info ,
.infosp,
.infowolf {
  border-color: #444;
}
/* 警告・注意表示 --------*/
.caution {
  border-color: #ccc;}

/* アクション ------------*/
.action_nom,
.action {
  border-width: 2px 0 2px 10px; border-style: solid none solid solid ; border-color: #222;
}
/* しおり ----------------*/
.TSAY .action .mes_date,
.mes_think .action .mes_date {
  display: none;
}

/* メモ ----------*/
.memo {
  border-color: #720;
  color: #000;
}
/* メモの左側 ----------*/
.memoleft {
  border-color: #444;
}
/* メモの右側 ----------*/
.memoright {
  background: #cb8;
  border-color: #444;
}

/* 発言者名 ----------*/
.mesname {
  font-weight: bold;
  border-bottom: 1px dashed #444;
  background: transparent;
}

/* 発言関係共通 ------*/
.msg{
  border-right: solid 4px #222;
}

/* 通常発言 ------*/
.MSAY .action,
.MSAY .msg,
.MSAY .memoleft,
.MSAY .memoright,
.SAY .action,
TABLE.SAY .msg,
.SAY .memoleft,
.SAY .memoright,
.QUEUE .msg,
.QUEUE .memoleft,
.QUEUE .memoright,
.mes_nom .action,
.mes_nom .memoleft,
.mes_nom .memoright,
.mes_nom .msg{
  color: #000;  background: #ba7; } /*木欄色*/
.formpl_common,
.formpl_common .msg {
  border-color: #720;
}
.formpl_gm ,
.formpl_gm  textarea{
  border-color: #720;
  color: #ffa;
  background-color: #002;
}


/* bug-fix */
.btn {
  color: #333 !important;
}
.btn-primary,
.btn-info,
.btn-success,
.btn-warning,
.btn-danger,
.btn-inverse {
  color: #fff !important;
}



