meta http-equiv='Content-Type' content='text/html; charset=utf-8'
meta content="7korobi@gmail.com" name="Author"
link href="mailto:7korobi@gmail.com" rev="Made"

- css = "#{cookies["theme"]}#{cookies["width"]}".html_safe if cookies["theme"] && cookies["width"]
- css ||= "cinema800".html_safe
link#giji_css media="screen" rel="stylesheet" type="text/css" href="#{URL[:rails]}/stylesheets/#{css}.css"

meta(charset="utf-8")
title 人狼議事

= javascript_include_tag 'data'
= javascript_include_tag 'base'
= javascript_include_tag 'application'
= csrf_meta_tag

= include_gon
