meta name="viewport" content=""
meta http-equiv='Content-Type' content='text/html; charset=utf-8'
meta content="7korobi@gmail.com" name="Author"
link href="mailto:7korobi@gmail.com" rev="Made"

link(media="screen" rel="stylesheet" type="text/css" data-turbolinks-track="true" href="#{URL[:application]}/application.css")
= csrf_meta_tags

meta(charset="utf-8")
title 人狼議事

script(type="text/javascript" src="#{URL[:application]}/data.js"        data-turbolinks-track="true")
script(type="text/javascript" src="#{URL[:application]}/base.js"        data-turbolinks-track="true")
script(type="text/javascript" src="#{URL[:application]}/application.js" data-turbolinks-track="true")
script(type="text/javascript" src="#{URL[:application]}/boot.js"        data-turbolinks-track="true")

= csrf_meta_tag

= include_gon
