meta http-equiv='Content-Type' content='text/html; charset=utf-8'
meta content="5XfF9jxZXTTrKIksWGPJLQOfhlsOzg3Ew7-64YLdDxw" name="google-site-verification"
meta content="7korobi@gmail.com" name="Author"
meta name="viewport" content="width=device-width,user-scalable=yes"
link href="mailto:7korobi@gmail.com" rev="Made"

= stylesheet_link_tag css_name
= stylesheet_link_tag 'application'
- javascript_include_tag 'http://www.google.com/jsapi'
= javascript_include_tag 'application'
= csrf_meta_tag
