%html{lang: 'ja'}
  %head
    =render partial: 'layouts/head'
    %title#flashes
      = if flash[:error] then flash[:error] else "人狼議事" end
      = if flash[:notice] then flash[:notice] end
  %body
    .content
      #header
      =yield
      #footer
        #follow
          = image_tag  'twitter.png', class: 'twit'
          = image_tag 'facebook.png'

