
=semantic_form_for chr_set do |f|
  =f.object.id
  =f.inputs

  =f.semantic_fields_for :chr_npcs do |nf|
    =nf.object_name
    =nf.object.id
    =nf.inputs
    -nf.object.npc.each do |value|
      ul
        li=text_field_tag "#{nf.object_name}[npc][]", value
  p.command= link_to 'NPCを追加する'

  =f.semantic_fields_for :chr_jobs do |jf|
    =jf.object.id
    =jf.inputs
  p.command= link_to '肩書きとキャラクターを追加する'

  .actions
    = f.submit 'Save'
